<div class="breadcrumbs-v3 img-v5 text-center">
    <div class="container">
        <h1>Speaker Programs</h1>
        <p>The all one in solution that gives you the control and compliance necessary to conduct effective speaker programs</p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Featured Blog ===-->
<div class="container content-md">
    <div class="row featured-blog">
        <div class="col-md-6 md-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/lexa/doubleImageSpeakerTraining.png" alt="">
                <a href="#"><i class="rounded-x fa fa-download"></i></a>
            </div>
        </div>
        <div class="col-md-6 md-margin-bottom-50">
            <h2><a class="color-dark" href="@Url.Action("Index", "Contact")">Build a connection between speakers and companies</a></h2>
            <p>Enable your sales team to efficiently and effectively plan programs. Allow your speakers to craft their message for your product under your guidance.</p>
        </div>
    </div><!--/end row-->
</div>
<!--=== End Featured Blog ===-->
<!--=== Container Part ===-->
<div class="service-block-v6 bg-color-light">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-8">
                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Our Main Features</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-calendar"></i>
                            <div class="service-desc">
                                <h2>Program Planning</h2>
                                <p>
                                    Easily request, approve and plan all details about your programs.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-drawer"></i>
                            <div class="service-desc">
                                <h2>Speaker Content</h2>
                                <p>
                                    Customized and compliant content for an effective presentation.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-briefcase"></i>
                            <div class="service-desc">
                                <h2>Training & Management</h2>
                                <p>
                                    Track speaker training and certification progress before a program.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-users"></i>
                            <div class="service-desc">
                                <h2>Attendee Engagement</h2>
                                <p>
                                    Conduct successful meetings by engaging attendees with novel and memorable activities that spark interaction.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-pie-chart"></i>
                            <div class="service-desc">
                                <h2>Budgets & Expenses</h2>
                                <p>
                                    Create and manage budgets from product level down to individual rep, including detailed expense tracking.
                                </p>
                            </div>
                        </div>
                        <div class="margin-bottom-30">
                            <i class="icon-custom rounded-x icon-sm icon-bg-u icon-graph"></i>
                            <div class="service-desc">
                                <h2>Reporting & Analytics</h2>
                                <p>
                                    Satisfy Sunshine Act requirements and measure program performance with customizable analytics.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-center" src="/Content/assets/images/lexa/speakerTrainingBanner.png" width="300" alt="">
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>
<!--=== End Container Part ===-->
<!--=== Image Block ===-->
<div class="container content-sm no-bottom-space">
    <div class="headline-center margin-bottom-60">
        <h2>Streamline the process</h2>
        <p>
            Empower your operations team to ensure compliant programs are being run and financial reporting is made easy.
            </p><br>
    </div>
    <img class="img-responsive img-center" src="/Content/assets/images/devices/admin.png" alt="">
</div>
<!--=== End Image Block ===-->
<!-- Testimonials Carousel -->
<div class="testimonials-bs bg-image-v2 parallaxBg1">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="headline-center-v2 headline-center-v2-dark">
                        <h2>What Our Clients Say About Us</h2>
                        <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                        <p>The PODIUM application was a great learning tool and portal for our speakers bureau. We were able to train speakers as well as execute programs in an efficient manner. The application was easily accessible from all platforms and served our customers well.</p>
                        <span class="author">Speaker Programs Coordinator at <strong>a Major Pharmaceutical</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Carousel -->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}