<div class="breadcrumbs-v3 img-v3 text-center">
    <div class="container">
        <h1>Meetings and Events</h1>
        <p>More than a meeting app. It’s a collective experience. Apogy transforms events into opportunities for your team to share, grow and engage</p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Featured Blog ===-->
<div class="container content-sm">
    <div class="row featured-blog">
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/lexa/unifyingExperience.png" alt="">
                <a href="#"><i class="rounded-x fa fa-link"></i></a>
            </div>
            <h2><a class="color-dark" href="#">Unifying experiences</a></h2>
            <p>Events are a destination, and should not be a one and done experience. Give your colleagues the dynamic tools they need for conferences, meetings, trade shows. Make the experience last all year.</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-50">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/lexa/stayInTheKnow.png" alt="">
                <a href="#"><i class="rounded-x fa fa-link"></i></a>
            </div>
            <h2><a class="color-dark" href="#">Stay in the Know</a></h2>
            <p>Don’t miss out again. Live meetings undergo constant flux with details changing from minute to minute. Take advantage of personalized, up to date, dynamic schedules, so you always know where you need to be at all times.</p>
        </div>
        <div class="col-sm-4">
            <div class="featured-img">
                <img class="img-responsive margin-bottom-20" src="/Content/assets/images/lexa/atYourFingertips.png" alt="">
                <a href="#"><i class="rounded-x fa fa-link"></i></a>
            </div>
            <h2><a class="color-dark" href="#">At Your Fingertips</a></h2>
            <p>Access complete and detailed information covering every aspect of the meeting from one convenient place. From schedules and hotel maps to local information and detailed bios of the speakers, all information is available within seconds.</p>
        </div>
    </div><!--/end row-->
</div>
<!--=== End Featured Blog ===-->

<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>OUR FEATURES</h2>
            <p>Some text should go here, although it is not required!</p>
        </div>

        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-calendar"></i>
                    <div class="service-block-desc">
                        <h3>Agenda</h3>
                        <p>
                            Gain access to your entire schedule, conference tracks, and electives, and stay up to date as scheduling updates occur.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-users"></i>
                    <div class="service-block-desc">
                        <h3>Badge/Lead Scanning</h3>
                        <p>
                            Scan leads at shows into your CRM, or scan badges at meet and greets for points on the leaderboard.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->

        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-badge"></i>
                    <div class="service-block-desc">
                        <h3>Training & Roleplay Certifications</h3>
                        <p>
                            Conduct your roleplay certifications, evaluations, coursework and assessments during your kickoff.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-bar-chart"></i>
                    <div class="service-block-desc">
                        <h3>Polling & Q&A</h3>
                        <p>
                            Measure the pulse of the group. Battle-tested polling with real time results and moderation of your Q&A sessions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->

        <!-- Service Block v8 -->
        <div class="row margin-bottom-20">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-bubbles"></i>
                    <div class="service-block-desc">
                        <h3>Social Feed</h3>
                        <p>
                            Keeping in touch is simple when attendees can easily manage new connections, share contact info and stay connected long after the event.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="service-block-v8">
                    <i class="icon-trophy"></i>
                    <div class="service-block-desc">
                        <h3>Challenges</h3>
                        <p>
                            Set up team challenges inside and outside of a conference for hundreds of activities. View leaderboards for your scavenger hunts, badge scanning, appointments, and more.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
    </div>
</div>
<!--=== End Service Block ===-->

<!--=== Parallax Counter v4 ===-->
<div class="parallax-counter-v4 parallaxBg">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-3 col-xs-6 md-margin-bottom-50">
                <i class="icon-trophy"></i>
                <span class="counter">Some Data No.</span>
                <h4>Things done</h4>
            </div>
            <div class="col-md-3 col-xs-6 md-margin-bottom-50">
                <i class="icon-trophy"></i>
                <span class="counter">Some Data No.</span>
                <h4>Things done</h4>
            </div>
            <div class="col-md-3 col-xs-6">
                <i class="icon-trophy"></i>
                <span class="counter">Some Data No.</span>
                <h4>Things done</h4>
            </div>
            <div class="col-md-3 col-xs-6">
                <i class="icon-trophy"></i>
                <span class="counter">Some Data No.</span>
                <h4>Things done</h4>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>
<!--=== End Parallax Counter v4 ===-->

<!--=== Image Block ===-->
<div class="container content-sm no-bottom-space">
    <div class="headline-center margin-bottom-60">
        <h2>Manage with Ease</h2>
        <p>Eliminate linked spreadsheets and duplicate data entry. <br>
            Manage all aspects of the meeting from planning to post meeting evaluation <br>
            through a single convenient web based portal. Customize the app to reflect your brand, and change the interface to best reflect your needs. </p><br>
    </div>
    <img class="img-responsive img-center" src="/Content/assets/images/lexa/manageWithEase.png" alt="">
</div>
<!--=== End Image Block ===-->

<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm no-bottom-space">
        <div class="row margin-bottom-60">
            <div class="col-md-4 md-margin-bottom-50">
                <div class="service-block-v7">
                    <i class="icon-bell"></i>
                    <h3 class="title-v3-bg text-uppercase">Notifications</h3>
                    <p>
                        Meeting organizers can target attendees or groups with personalized notifications highlighting important and time sensitive information.
                    </p>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-50">
                <div class="service-block-v7">
                    <i class="icon-bubbles"></i>
                    <h3 class="title-v3-bg text-uppercase">Real-time Chat</h3>
                    <p>
                        Stay connected to your team at all times in a secure text chat, sharing text, pictures, audio, and content with your teams and colleagues.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-block-v7">
                    <i class="icon-map"></i>
                    <h3 class="title-v3-bg text-uppercase">Maps</h3>
                    <p>
                        View detailed maps for everything. Enhanced maps include iBeacon driven real-time locations of all attendees.
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-60">
            <div class="col-md-4 md-margin-bottom-50">
                <div class="service-block-v7">
                    <i class="icon-bar-chart"></i>
                    <h3 class="title-v3-bg text-uppercase">Surveys and Questionnaires</h3>
                    <p>
                        Collect critical metrics on the effectiveness of your product launch, or assess retention at 30, 60, and 90 days.
                    </p>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-50">
                <div class="service-block-v7">
                    <i class="icon-globe"></i>
                    <h3 class="title-v3-bg text-uppercase">Multiple Language Support</h3>
                    <p>
                        Fully localized to support global conferences for Americas, Europe, and Asia.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-block-v7">
                    <i class="icon-pin"></i>
                    <h3 class="title-v3-bg text-uppercase">Beacons</h3>
                    <p>
                        Set up challenges, scavenger hunts, and interactive displays based on location, and check-in to sessions or view content when you walk in.
                    </p>
                </div>
            </div>
        </div>
    </div><!--/container-->
</div>
<!--=== End Service Block ===-->