		<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 interactive-slider-v2-md img-v3">
    <div class="container">
        <h1 class="cd-headline letters type">
            <span>Apogy</span>
            <span class="cd-words-wrapper">
                <b class="is-visible">Less Process</b>
                <b>More Selling</b>
            </span>
        </h1>
        <p>Apogy unifies all aspects of the commercial workflow to accelerate individual contribution and power organizational performance. We make remote teams more effective by keeping them mobile, connected, and informed.</p>
    </div>
</div>
<!-- End Interactive Slider v2 -->
<!--=== Colorfull Blocks ===-->
<div class="container-fluid">
    <div class="row no-gutter equal-height-columns">
        <div class="col-sm-4">
            <div class="service-block service-block-purple no-margin-bottom content equal-height-column">
                <i class="icon-custom icon-md rounded icon-color-light icon-line icon-graduation"></i>
                <h2 class="font-light">Powering Commercial Enablement</h2>
                <p class="no-margin-bottom font-light">We uniquely understand the demands placed on today’s commercial teams and the need to streamline workflows with many dimensions.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="service-block service-block-red no-margin-bottom content equal-height-column">
                <i class="icon-custom icon-md rounded icon-color-light icon-line icon-users"></i>
                <h2 class="font-light">Connected, Intuitive Solutions</h2>
                <p class="no-margin-bottom font-light">Built by Life Sciences for Life Sciences, Apogy is maniacally focused on solving the Activity, Training, and Event-centric burdens placed on commercial teams.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="service-block service-block-blue no-margin-bottom content equal-height-column">
                <i class="icon-custom icon-md rounded icon-color-light icon-line icon-cloud-upload"></i>
                <h2 class="font-light">SaaS & Mobile Platform</h2>
                <p class="no-margin-bottom font-light">Make teams more effective by keeping them mobile, connected, and informed during sales engagements, events, and throughout their day.</p>
            </div>
        </div>
    </div>
</div>
<!--=== End Colorfull Blocks ===-->
<!--=== Commercial Enablement ===-->
<div class="container content-md">
    <div class="row">
        <div class="col-md-6 md-margin-bottom-40">
            <h2 class="title-v2">Commercial Enablement</h2>
            <p>Provide better support of employee knowledge, with personalized learning plans that can support product launch objectives and onboarding requirements.</p>
            <p>I suggest putting a little bit more text for all of the products on the home page because this is unused space. Or change the picture, maybe even find a better container div for this section??</p><br>
            <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
            <a href="#" class="btn-u">Request a Demo</a>
        </div>
        <div class="col-md-6 overflow-h">
            <img class="img-responsive wow animated fadeInUp" data-wow-duration="1.5s" src="~/Content/assets/images/lexa/doubleImageFieldEnablement.png" alt="">
        </div>
    </div>
</div>
<!--=== End Commercial Enablement ===-->
<!--=== Meetings and Events ===-->
<div class="container content-md background-grey">
    <div class="row">
        <div class="col-md-6 overflow-h">
            <img class="img-responsive wow animated fadeInUp" data-wow-duration="1.5s" src="~/Content/assets/images/lexa/doubleImageEvents.png" alt="">
        </div>
        <div class="col-md-6 md-margin-bottom-40">
            <h2 class="title-v2">Meetings and Events</h2>
            <p>Transform your conferences and meetings to create smarter events, providing tools to support event logistics, drive team alignment, and networking.</p>
            <p>I suggest putting a little bit more text for all of the products on the home page because this is unused space. Or change the picture, maybe even find a better container div for this section??</p><br>
            <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
            <a href="#" class="btn-u">Request a Demo</a>
        </div>
    </div>
</div>
<!--=== End Meetings and Events ===-->
<!--=== Speaker Programs ===-->
<div class="container content-md">
    <div class="row">
        <div class="col-md-6 md-margin-bottom-40">
            <h2 class="title-v2">Speaker Programs</h2>
            <p>Create a single place for field collaboration, communication, and knowledge management, helping to simplify access to all content.</p>
            <p>I suggest putting a little bit more text for all of the products on the home page because this is unused space. Or change the picture, maybe even find a better container div for this section??</p><br>
            <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
            <a href="#" class="btn-u">Request a Demo</a>
        </div>
        <div class="col-md-6 overflow-h">
            <img class="img-responsive wow animated fadeInUp" data-wow-duration="1.5s" src="~/Content/assets/images/lexa/doubleImageSpeakerTraining.png" alt="">
        </div>
    </div>
</div>
<!--=== End Speaker Programs ===-->
<!--=== Parallax Counter v1 ===-->
<div class="parallax-counter-v1 parallaxBg">
    <div class="container">
        <h2 class="title-v2 title-light title-center">SOME FACTS AND SERVICES</h2>
        <p class="space-xlg-hor text-center color-light">I really like the style of this parallax, so if we have some informations to put here, i would highly suggest that.</p>

        <div class="margin-bottom-40"></div>

        <div class="row">
            <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
                <div class="counters">
                    <span class="counter">10629</span>
                    <h4>Users</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
                <div class="counters">
                    <span class="counter">277</span>
                    <h4>Projects</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">78</span>
                    <h4>Team Members</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">109</span>
                    <h4>Awards</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Parallax Counter v1 ===-->
<!-- Callout v2 -->
<div class="call-action-v2 parallaxBg">
    <div class="container">
        <h2>Go ahead. Take it for a spin!</h2>
        <p>We look forward to hearing from you.<br/>This sentance was a default in previous template, I'm not sure if you want to keep it, or change to something more appropriate?</p>
        <a href="#" class="btn-u">Request a Demo</a>
    </div>
</div>
<!-- End Callout v2 -->