<!--=== Blog Posts ===-->
<div class="bg-color-light navbarPadding">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 bg-color-white margin-bottom-30">
            <img class="img-responsive full-width" src="/Content/assets/images/blog/smmBecomesApogy2Blog.jpg" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>Posted December 22, 2016</li>
                </ul>
                <h2>
                    Scientia MedMedia Becomes Apogy
                </h2>
                <p>
                    For those of you who have been following us, you may have noticed that recently we gave our company a facelift.
                </p>
                <p>
                    In May of 2016, we made the strategic decision to rebrand our legacy firm, SciMedMedia by adopting the new name “Apogy.” Although the mission of the company and the staff remain the same, we sought a partner to provide us with additional financial resources. After over a decade as a self-funded entity, we wished to gain the ability to invest to the highest level possible to meet the burgeoning demand we are seeing in the market for mobile and adaptive learning tools particularly in the pharmaceutical, life sciences, and healthcare industries. The funding will also be used to attract new talent to Apogy, including leadership, technical and client services team members.
                </p>
                <p>
                    Bringing new products to market faster than competitors is a strategic edge in any industry, particularly in the fields of pharmaceuticals and life sciences. Apogy’s platform creates a culture of daily, individualized learning, resulting in a more effective salesforce. Apogy clients are more likely to bring products to market faster and with more relevant, present learning tools that help physicians make standard-of-care decisions that benefit patients.
                </p>
                <p>
                    “Our guiding principle is that everyone learns differently and it is unreasonable to offer one method of education and expect all learners to be successful. The market needs a more comprehensive solution that adapts to learners’ preferences and also supports the broadening demands for digital and mobile learning tools. This strategic investment allows us to align and address all those needs in one cohesive learning environment,” said Peder Regan, Apogy’s founder and chief executive officer.
                </p>
                
                <p>
                    He continued, “We’re pleased to have Level Equity involved in Apogy’s next phase of growth to help workers achieve their greatest potential through individualized learning powered by artificial intelligence.”
                </p>
                <p>
                    Apogy’s mobile and web platforms are powered by artificial intelligence and social learning tools which make daily learning inviting rather than distracting. All aspects of employee development, including on-boarding, certification, home study, and live conference guidance are available across dozens of learning modalities to ensure every style of learner finds the right fit. This style of learning helps life sciences and pharmaceutical employees improve the quality and clarity of the messages they deliver to physicians, which leads to forging stronger, trust-based relationships.
                </p>
                <p>
                    While Apogy has experience serving the largest life sciences and pharmaceutical companies in the world, the platform is adaptable and applicable to other industries whose success depends on continuous workforce education, such as manufacturing, oil and gas, finance, and accounting
                </p>
                <p>
                    If you have questions about how Apogy can help your company or wish to inquire about employment opportunities, please email info@apogy.com.
                </p>
            </div>
        </div>
        <!-- End News v3 -->
    </div>
</div>