<!--=== Breadcrumbs ===-->
<div class="breadcrumbs navbarPadding">
    <div class="container">
        <h1 class="pull-left">Blog Timeline<br /><span class="smallerText">Our thoughts on Sales Events, Commercial Enablement, and a Learning Culture</span></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
            <li class="active">Deal Killer</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== Blog Posts ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 bg-color-white margin-bottom-30">
            <img class="img-responsive full-width" src="/Content/assets/images/blog/dealKillerBlog.jpg" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>Posted December 13, 2016</li>
                </ul>
                <h2>
                    The Surprisingly Largest Deal Killer in Pharma Sales
                </h2>
                <p>
                    While it may seem innocuous, failure to adopt a CRM system has far reaching impact on a pharma company’s sales success. It thwarts social listening, a critical component of making a sales rep appear a prepared and valuable resource. Artificial intelligence poses a solution to these challenges by taking the pain out of data entry for the salesperson and elevating learning outcomes, thereby increasing call preparedness and perception of value in the eyes of the buyer.
                </p>
                <p>
                    It’s not surprising that 38% of executives feel that sales representatives do not understand their issues. The task of aligning customers with product in the pharmaceutical industry is full of challenges. Attention to heavy regulation, a high awareness of ethics, extensive product knowledge, and ability to keep pace with rapid innovation are critical to meeting the business needs of customers in the pharma industry. It’s not surprise that often sales-client interactions become transformed into feature focused marketing pitches laden with technical jargon rather than conversations that uncover what the client truly needs. An effective CRM system captures data that creates insight into buyer behavior and the human being on the other end of the sales pitch. Yet most salespeople see a CRM system as a burden.
                </p>
                <p>
                    In an age where consumers worst fear is generic marketing pitches and salespeople who do not listen, inability to learn is a serious problem. Exasperated physicians are quick to place themselves on the “do not call” list to avoid having a pharmaceutical sales rep waste their time.
                </p>
                <p>
                    Artificial intelligence can make the sales process smarter by facilitating learning and call preparation to better align the salesperson with the customer’s needs.  Call data can be used to select material to prepare a sales rep for the next meeting, arming your salesforce with enhanced knowledge on topics relevant to the business needs of the customer. Predictive application scheduling can make the data entry process easier and more convenient for the rep. Adaptive technologies can also elevate sales coaching effectiveness, where the feedback from a senior salesperson during a sales “ride along” would trigger adjustments to the trainee’s learning plan.
                </p>
                <p>
                    Please contact info@apogy.com to hear more about how our solutions can facilitate CRM usage, improve knowledge transfer, and help your salespeople to exceed their quotas!
                </p>
            </div>
        </div>
        <!-- End News v3 -->
    </div>
</div>
