<!--=== Blog Posts ===-->
<div class="bg-color-light navbarPadding">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 bg-color-white margin-bottom-30">
            <img class="img-responsive full-width" src="/Content/assets/images/blog/2017DisruptiveTechnologies4.jpg" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>Posted January 3, 2017</li>
                </ul>
                <h2>
                    How 2017 Disruptive Technologies Will Impact Sales
                </h2>
                <p>
                    We’ve all read the experts predictions of what the disruptive technology trends are likely to be in 2017: Big Data, Internet of Things (IoT), and Artificial Intelligence, to name a few. Yet despite all these innovations, one thing remains the same: the sales operation is still the lifeblood of any organization. Because of psychology’s heavy influence on selling outcomes, sales is the most human operation in any business. This article will examine how sales is likely to be impact by the increased automation that 2017 disruptive technologies will bring.
                </p>
                <p>
                    We predict that adaptive technologies will improve the organization’s ability to take advantage of big data in its sales process. Effective use of the CRM system has typically been the thorn in the side of most salespeople. Operating in a quota driven environment, entering call notes comes last on the priority list. AI will be used to speed the velocity of this process. For example, an AI algorithm will predict the best times for the user to upload data based on historical behavior patterns. Once the data is captured, call logs will be analyzed to identify nuances and make the sales cycle more intelligent.
                </p>
                <p>
                    Training and mentoring will become increasing collaborative, enabled by real time technologies. Sales trainers and mentors will spend more time in a virtual relationship than in physical presence, and this outcome of having support that is ubiquitous, instantaneous, and customized will heighten learning. Training seminars will evolve to include learning games and surveys which will increase knowledge retention, elevating ROI. Enhanced data capture will yield insights about seminar effectiveness as well as performance of individual participants.
                </p>
                <p>
                    While many aspects of the sales process will become heavily automated in 2017, the interpersonal aspects of the sales ecosystem can not be replaced by AI at this time. The need for creativity and emotional skill has not yet been fulfilled by automation when it comes to pitching, creating a “hook”, negotiating, and closing the sale. While a machine can quite adeptly render information to a potential buyer, it can’t provide anything they can’t get from the Internet. The most critical aspect of the sales process is, and always will be, fact finding.
                </p>
                <p>
                    It takes a genius of human psychology, cultivated by years and years of experience, to understand what the buyer’s needs truly are. Why? When faced with pressure from a seller, buyers lie, obfuscate the truth, stall, and find each and every reason to delay. Who among us will say that he or she has never lied to a salesperson, even unintentionally? It’s human nature to say, “I’m busy now, call next month.” Buyer behavior consistently defy logic. Can a machine be programmed to master this higher level kabuki dance? This would itself mark the advent of singularity, the day when automation surpasses human intelligence.
                </p>
                <p>
                    The parts of the sales process likely to change first would be the lower order functions (the ones that obey straight logic) such as appointment scheduling and follow up. For example, suppose you tweeted, “So glad to be here in Grand Cayman this week.” Imagine if a few seconds later you receive a tweet back, email, or phone call inviting you an a time share open house given by a realtor in the area. Or, let’s say you cancelled an appointment to buy some shoes. A robotic sales assistant could contact you to reschedule in real time. But in our view, that’s as far as it goes for now.
                </p>
                <p>
                    While many of the tasks surrounded with sales will be heavily influenced by AI, big data, and algorithms in the year to come, when it comes to getting the buyer to write the check, any sales manager will take the weakest salesperson on the team over a robot.
                </p>
            </div>
        </div>
        <!-- End News v3 -->
    </div>
</div>