<!--=== Breadcrumbs ===-->
<div class="breadcrumbs navbarPadding">
    <div class="container">
        <h1 class="pull-left">Blog Timeline<br /><span class="smallerText">Our thoughts on Sales Events, Commercial Enablement, and a Learning Culture</span></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
            <li class="active">Forgetfulness</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== Blog Posts ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 bg-color-white margin-bottom-30">
            <img class="img-responsive full-width" src="/Content/assets/images/blog/hardestObjectionForSalespeopleToOvercome.jpg" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>Posted January 5, 2017</li>
                </ul>
                <h2>
                    The Hardest Objection for Salespeople to Overcome: Forgetfulness
                </h2>
                <p>
                    While many companies would attribute sales failure to factors such as market competitiveness, product inefficiencies, or buyer price objections, where the process truly falls down is none of these. Sales is a numbers game and the one who has the most qualified deals in the pipeline is going to succeed. The true culprit is on the inside; sales professionals who reap the fullest benefits of the information relayed to them in training are able to build stronger pipelines. So what’s standing in their way? Something that so far no sales training program has been able to overcome: the forgetfulness of the human mind.
                </p>
                <p>
                    If you were to replay a video of failed sales calls, you’d see that most deals fall down because of the salesperson’s failure to do something they’ve already been taught. So why didn’t she execute on it? Because she is a human being with a fallible memory. Perhaps the technique gun wasn’t blazing at that moment because her learning experience happened 6 months ago. (Cherry, 2016) But what if she had trained yesterday? Maybe the learning experience was knocked out of its place in her brain by other information that made a deeper impression, for example, a family emergency that occurred two hours earlier. Or perhaps she never really took it all in when she learned it. (Cherry, 2016) Unless training addresses this weakness innate to all human beings, a high percentage of company sales spend goes down the drain.
                </p>
                <p>
                    At Apogy, we believe the solution leading to bigger pipelines, more closed sales, and higher training ROI lies within increasing sales training retention rates. Our artificial intelligence solutions help conference and meeting participants actively engage better with information content. To learn more about our solutions, please email info@apogy.com.
                </p>
                <small>
                    Sources<br/>
                    Cherry, Kendra. (2016, June 15) Explanations for Forgetting. [Web blog] Retrieved from https://www.verywell.com/explanations-for-forgetting-2795045
                </small>
            </div>
        </div>
        <!-- End News v3 -->
    </div>
</div>