<!--=== Blog Posts ===-->
<div class="bg-color-light navbarPadding">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 bg-color-white margin-bottom-30">
            <img class="img-responsive full-width" src="/Content/assets/images/blog/3ReasonsWhyIHateMobileApps.jpg" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>Posted April 10, 2017</li>
                </ul>
                <h2>
                    Three Reasons Why I Hate Mobile Apps
                </h2>
                <p>
                    Believe it or else, not everyone who works for a software company is in love with technology. Well, let me rephrase that. We’re not in love with all technology. Here are our top three mobile app pet peeves and how our dislike of certain technological conventions has impacted our mission at Apogy.
                </p>
                <h3>
                    #1 Pet Peeve: There’s too many of them
                </h3>
                <p>
                    Having options is a good thing, but you know how the saying about too much of a good thing goes. The average field rep in pharma/biotech must call upon more than six apps in the course of daily work. Why on earth does it have to be so complicated? I mean, technology is supposed to save time, not consume every single second of it. Right?
                </p>
                <h3>
                    #2 Pet Peeve: Nothing Works Together
                </h3>
                <p>
                    There’s nothing more frustrating than mobile apps who don’t integrate. Going back to argument #1, the more time of mine consumed by having to download software so one of my apps can talk to another or deal with all the bandwidth requirements and driver installations that come with this, the more of an unhappy camper I become.
                </p>
                <h3>
                    #3 Pet Peeve: Interface too difficult
                </h3>
                <p>
                    There’s nothing worse than feeling as if your mobile app is your worst enemy when you’re under pressure and deadlines. I often find myself wishing that these systems were more intelligent, that they could understand me better and somehow do the thinking for me and anticipate next steps. Yet frequently more of my time is spent learning the system than learning the curriculum.
                </p>
                <p>
                    At Apogy,  our motto is that we would never expect somebody to use a mobile e-learning app that we ourselves wouldn’t love. It is our mission to inspire genius by offering people the ability to educate themselves through a mobile interface that removes these pet peeves, and others as well, from the equation. We designed a technology that is adaptive so that learners can spend more time focusing on the task at hand rather than tinkering with the support menu. Doing this, we believe, will enable learners to close competency gaps quicker. We achieve this by crafting a system which asks critical questions such as:
                </p>
                <ul>
                    <li>
                        What is the learner’s motivation for logging in?
                    </li>
                    <li>
                        Which device are they going to be using?
                    </li>
                    <li>
                        What time of day are they likely to be using this app?
                    </li>
                    <li>
                        What other systems will they need to integrate with?
                    </li>
                    <li>
                        What are likely to be the topics most relevant to upcoming engagements?
                    </li>
                </ul>
                <p>
                    We gave our users the ease of single sign-on capabilities and direct access to your third-party applications such as an existing LMS, CRM or sales force automation platform. This gift of aggregation allows you to get better value out of your time as well as existing software, increasing return on investment. All of this, and more that you can read about here, has resulted in an e-learning mobile app that people love.
                </p>
                <p>
                    While our list of mobile app pet peeves is long enough to drive us nuts, we recognize that it is by no means exhaustive. Email info@apogy.com and offer us your thoughts as to what have been the biggest mobile app obstacles for your company
                </p>
            </div>
        </div>
        <!-- End News v3 -->
    </div>
</div>