<!--=== Blog Posts ===-->
<div class="bg-color-light navbarPadding">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 bg-color-white margin-bottom-30">
            <img class="img-responsive full-width" src="/Content/assets/images/blog/millenialEmployeesWantDivorceLMS.jpg" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>Posted Febuary 22, 2017</li>
                </ul>
                <h2>
                    Why 99% of Millennial Employees Want to Divorce Their LMS
                </h2>
                <p>
                    The millennial generation has now become the largest cohort of employees within the working world.  Yet the world has yet to adjust to all of the preferences of this first generation of digital natives. Organizations that want to attract, retain, and engage talented millennials should be aware of the following three reasons why Learning Management Systems (LMS’s) are a digital dinosaur by their standards.
                </p>
                <h3>
                    1. Non Ubiquirous
                </h3>
                <p>
                    The traditional desktop approach to learning has gone out the window. Why? Because the idea of sitting at a desk has gone out the window.  This is the generation that would prefer to run on a treadmill while typing, remember?
                </p>
                <p>
                    The problem with most LMS’s is that they do not truly tap into the mobile experience. For millennials (and everybody else, it seems), the cell phone rules the world. Being able to learn anywhere anytime, incorporating feedback from the real world, is critical.  The LMS, which confines learning to a sit down session at a computer portal, is as antiquated as Ancient Rome by millennial standards.
                </p>
                <h3>
                    Lack of Flexibility
                </h3>
                <p>
                    Nowadays text on a screen is not enough. Users are demanding experiences that come through in 3-D, audio visual, or any multisensory presentation that you can think of. The LMS fails at this because it offers only limited content formats, and thus falls short of millennials’ expectations.  Content in an LMS is typically static, while new e-learning apps tend to be dynamic and easier to update.
                </p>
                <h3>
                    Non interactive
                </h3>
                <p>
                    Millennials are a street smart bunch who want to hear the buzz before trusting anything.  For this cohort, the ability to communicate with the presenter as well as peers is tantamount. Yet the LMS is typically a non-social experience.  The e-learning apps of the modern day are highly interactive, allowing users to communicate real time with peers and mentors, and even interject to ask questions during a live presentation.
                </p>
                <p>
                    Apogy, at the forefront of e-learning, wants to hear about your challenges in educating millennials workers. Experiences any issues? Tell us about them below.
                </p>
            </div>
        </div>
        <!-- End News v3 -->
    </div>
</div>