<!--=== Blog Posts ===-->
<div class="bg-color-light navbarPadding">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 bg-color-white margin-bottom-30">
            <img class="img-responsive full-width" src="/Content/assets/images/blog/experienceIsNotTheBestOption.jpg" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>Posted January 17, 2017</li>
                </ul>
                <h2>
                    When it Comes to Pharma Sales, Experience is NOT the Best Teacher
                </h2>
                <p>
                    They say experience is the best teacher. This may be true for many things in life – but there are some exceptions. When it comes to pharmaceutical sales, practicing on your potential customers can mean a broken pipeline, demoralized and broken salespeople, and a financially stressed company. The knowledge transfer between senior sales professionals and their mentees is invaluable in closing the competency gap. It is mentorship, not experience, that can elevate genius in sales performance – and in 2017 there are several important evolutions that companies should be aware of.
                </p>
                <h3>
                    Real Time Connectedness
                </h3>
                <p>
                    Coaching isn’t just something that happens at the Monday sales meeting. In today’s fast paced world, better sales performance requires technology which enables live mentorship. For example, Apogy offers coaching communication tools through video chat and interactive platforms that facilitate real time messaging. As connectedness improves, the experience of the senior professional transfers more effectively to the protégé, matching users to trainers and mentors.
                </p>
                <h3>
                    Multimedia Elements
                </h3>
                <p>
                    As no two people learn the same way, users are benefiting from content increasing becoming available to them through eBooks, podcasts, games, and even 3D simulations. Providing a variety of ways for users to engage with content helps them become more of an active participant rather than a spectator. For example, for individuals who learn better from peers than a textbook, Apogy’s interface incorporates social tools such as chat and peer mentoring. Improving the depth of knowledge transfer through video, audio, and interactive exercises (such as surveys and polls) will heighten the impact of sales lessons.
                </p>
                <h3>
                    Education at the Point-of-Need
                </h3>
                <p>
                    Adaptive technologies are rapidly diminishing the time required to close competency gaps. The feedback from a mentor after a sales “ride along” will take immediate effect. Areas of improvement will be emphasized in the junior professional’s plan of study right away. More intelligent content recommendations in training plans will improve sales performance the next time around. This way, the junior person goes to the next meeting a step ahead of the last one fully prepared to perform, and does not have to practice on live prospects, potentially jeopardizing fruitful opportunities.
                </p>
                <p>
                    Apogy’s artificial intelligence solutions inspire genius for those riding the wave of the digital workforce transformation. If you’re looking to improve return on investment for your greatest asset, the knowledge of your people, please contact Apogy today.
                </p>
            </div>
        </div>
        <!-- End News v3 -->
    </div>
</div>