<!--=== Breadcrumbs ===-->
<div class="breadcrumbs navbarPadding">
    <div class="container">
        <h1 class="pull-left">Blog Timeline<br /><span class="smallerText">Our thoughts on Sales Events, Commercial Enablement, and a Learning Culture</span></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
            <li class="active">Social Learning</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== Blog Posts ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 bg-color-white margin-bottom-30">
            <img class="img-responsive full-width" src="/Content/assets/images/blog/whereSocialLearningFails.jpg" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>Posted Febuary 6, 2017</li>
                </ul>
                <h2>
                    Where Social Learning Fails
                </h2>
                <p>
                    With the explosion of online video, social learning has moved to the forefront of our consciousness. But the world hasn’t quite perfected the art of learning from our peers rather than a textbook; the following four wrinkles must be ironed out before we can fully transcend into the higher level of enlightenment where social learning has the power to take us.
                </p>
                <h3>
                    False Humans
                </h3>
                <p>
                    The monster we have created, the Internet, may have a life of its own. According to Imperva, only 52% of web traffic is from humans, while 48% of web traffic is from bots, impersonators, hacking tools, scrapers and spammers. (Zeifman, 2015)
                </p>
                <h3>
                    Unknown Motivation
                </h3>
                <p>
                    For better or for worse, social media gives everyone who logs on the power to voice his or her opinion. There’s no way of knowing whom to trust. Let’s say you are in the market for a new printer for your office, so you visit the Facebook discussion on a popular brand. There’s no way to verify that the information being presented is legitimately from people who bought the product and want to share their experience. It may be falsified information from competitors who are looking to steal market share. It may even be from company employees looking to boost the brand.
                </p>
                <h3>
                    Partiality
                </h3>
                <p>
                    The reviews of the product may even be sponsored. For example, some companies run promotions or giveaways to motivate customers to post a glowing testimonial. Reviews that are paid for by the company may be biased in their favor.
                </p>
                <h3>
                    Lack of Depth
                </h3>
                <p>
                    Lastly, the speed of digital communication can bring, well for lack of a better word, mindlessness. It’s possible that information posted in a split second from a mobile phone could be unintentionally incomplete or misleading.
                </p>
                <p>
                    For these four reasons, separating fact from fiction grows harder by the minute in online conversations. While communication in the digital age is not perfect, social learning is marching on full speed ahead. Love it or hate it, the trend is real
                </p>
                <p>
                    Apogy is at the forefront of social learning. As we help companies break free of the constraints of cookie cutter learning programs, we encourage you to please share with us below any insights on your experience with social learning through online conversations.
                </p>
                <small>
                    Sources<br/>
                    Zeifman, Igal. (2015, December 9) 2015 Bot Traffic Report: Humans Take Back the Web, Bad Bots Not Giving Any Ground. Web log post. Retrieved from https://www.incapsula.com/blog/bot-traffic-report-2015
                </small>
            </div>
        </div>
        <!-- End News v3 -->

    </div>
</div>