<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v7 text-center">
    <div class="container">
        <h1>Awards</h1>
        <p>
            Less Process. More Selling.
        </p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Awards & Achievements</h2>
        <p>
            In addition to our earned awards, our diverse staff is comprised of some of the most recognized learning and tech professionals in the world. From an array of industry awards, to features in various medical journalsand keynote addresses at some of the nation’s most prestigious institutions, the Apogy team offers you the best talent in the business.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<section class="text-justify">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
                <div class="row">
                    
                    <div class="col-md-3">
                        <div class="headline-center">
                            <h2>CATEGORY</h2>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="headline-center">
                            <h2>AWARD</h2>
                        </div>
                    </div>
                   
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Apogy Recognitions</h4>
                    </div>
                    <div class="col-md-9">
                        <p>
                            <ul>
                                <li>
                                    W3 Silver Award Video and Motion Graphics (Gazprom International Site – 2012)
                                </li>
                                <li>
                                    W3 Silver Award Site Structure and Navigation (Gazprom International Site – 2012)
                                </li>
                                <li>
                                    21 Webby Awards
                                </li>
                                <li>
                                    12 Summit Awards
                                </li>
                                <li>
                                    22 Global Awards
                                </li>
                                <li>
                                    35 Omni Awards
                                </li>
                                <li>
                                    31 Davey Awards
                                </li>
                                <li>
                                    52 Telly Awards
                                </li>
                                <li>
                                    W3 Silver Award Mobile Applications Innovative/Experimental (GE Cooking iPad App – 2012)
                                </li>
                                <li>
                                    Zoloft Ethic Ad Recognition Award
                                </li>
                                <li>
                                    IPG Vendor of the Year
                                </li>
                                <li>
                                    RX Club Gold
                                </li>
                                <li>
                                    RX Club Silver
                                </li>
                                <li>
                                    Bronze Medal Invision Awards for Caduceus Science Review
                                </li>
                                <li>
                                    Manny Awards: Agency of the Year Category II (MDC)
                                </li>
                                <li>
                                    MM&M AWARDS: Best Professional Print Campaign (MDC)
                                </li>
                                <li>
                                    Revere Awards, Integrated Marketing Initiative Communitas Awards
                                </li>
                                <li>
                                    PR News Digital Awards, Best Cause Marketing /CSR Initiative – Finalist
                                </li>
                                <li>
                                    Bulldog Awards Best Technology Campaign – Silver
                                </li>
                                <li>
                                    Silver WWW Health Award
                                </li>
                                <li>
                                    IAB Mixx Best Augmented Reality Initiative – Silver
                                </li>
                                <li>
                                    7 Codie Award for Educational Product
                                </li>
                                <li>
                                    MM&M Finalist Healthcare Website of the Year
                                </li>
                                <li>
                                    Bronze Medal for Higher Education
                                </li>
                                <li>
                                    New Media Invision Awards
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Mentions</h4>
                    </div>
                    <div class="col-md-9">
                        <p>
                            <ul>
                                <li>
                                    5 Star Review MacWorld Magazine for Caduceus Science
                                </li>
                                <li>
                                    PM360 Greatest Collective Creators
                                </li>
                                <li>
                                    PM360 Best Multi-channel Campaign
                                </li>
                                <li>
                                    4 Star Reviews in MacWorld Magazine
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
