<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-security text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Platform</h1>
            <p>
                Created for the Cloud and built to Scale
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center text-justify col-md-10 col-md-offset-1">
        <h2>Overview</h2>
        <p>
            Apogy is a secure Cloud hosted SaaS application, administered through a responsive Web based portal and delivered as a HTML 5 and and Native iOS application. All client data is encrypted and housed in a Virtual Private Network utilizing role based access to all resource utilizing the services provided by enterprise scale hosting infrastructure. In addition, all data transmission both within the network and with the clients is secured over HTTPS and TLS connections.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center text-justify col-md-10 col-md-offset-1">
            <h2>Architecture</h2>
            <p>
Apogy is deployed and managed as a multi-tenant SaaS application, utilizing the Amazon Web Services infrastructure as a services platform, providing our customers with a highly scalable and accessible platform. Apogy Web and Admin require no client infrastructure, requiring only a browser and an Internet connection to access, but Apogy iOS and Android clients do require a local mobile device installation and connectivity.
            </p>
            <p>
Apogy uses a multi-tenant architecture that allows efficient sharing of application software and hardware resources, while providing complete partitioning of each customer's data and any integrations. It is managed as a single code base deployed over a distributed architecture composed of multiple components, including a web server layer, application layer, and database layer. Each component represents a physical set of infrastructures and provides the necessary application logic, data and security to support Apogy. Users access Apogy through a client app or browser, over a HTTPS/TLS connection. Trained Apogy resources, utilizing standard Apogy control policy and procedures manage the Apogy cloud service environment.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center text-justify col-md-10 col-md-offset-1">
        <h2>Hosting</h2>
        <p>
Apogy uses a third party infrastructure as a service (IAAS) environment, outside of customer's local or contracted hosting environments. The infrastructure as a service provider operates a SSAE 16 SOC 2 (formerly SAS 70) environment that is configured per Apogy specification and requirements during the provisioning and deployment process as part of the product release cycle.
            </p>
            <p>
Apogy is built on a third party infrastructure as a service environment that provides additional capacity on demand.  Capacity is monitored via the event monitoring procedures with defined tolerance levels are used to initiate increases in capacity. All Capacity changes are made using the standard Apogy cloud change management process.
            </p>
            <p>
Apogy quality representatives have performed a thorough analysis of the third party SAAS provider environment and concluded that they exceed the expectations required to ensure that Apogy can deliver on customer service levels in a secure and efficient manner.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center text-justify col-md-10 col-md-offset-1">
            <h2>Integrations</h2>
            <p>
Apogy supports extensive integration with a wide range of enterprise systems from Single Sign-On using SAML, Active Directory for user authorization, to Exchange for mail and calendaring, and Veeva for access to content. We utilize standards based RESTful data transfer that allowing us to provide a customized workflow that can communicate with any modern enterprise system.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center text-justify col-md-10 col-md-offset-1">
        <h2>Client Apps</h2>
        <p>
As a mobile first application, Apogy utilizes responsive design to provide optimized user experiences across all supported phones, tablets and PCs, and takes advantage of mobile features such as geolocation, beacons, and rich notifications.
            </p>
            <p>
Apogy is configured by a user friendly, web based administration portal supporting an unparalleled level of customization all aspects of the system from company branding colors and multi-language support to user management and feature activation.
            </p>
    </div>
</div>
<!--=== End Image Block ===-->
