<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v6 text-center">
    <div class="container">
        <h1>Architecture</h1>
        <p>
            Strong Foundation created for the cloud and built to scale
        </p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Overview</h2>
        <p>
            Apogy utilizes a native modern mobile first, SaaS driven cloud connected architecture to provide services that deliver superior levels of performance, security and individualized guidance for every user. Our continuous development model allows us to deliver updates to the system, multiple times a year, allowing us to react to evolving customer needs.
            </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Global</h2>
            <p>
                Apogy is deployed within a network of globally distributed data centers providing an unappalled level of security, availability and compliance with the increasingly complex maze of international privacy concerns. Our use of geo targeted routing, including CDNs, guarantees high speed of content delivery no matter where you are.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Dependable</h2>
        <p>
            Apogy leverages the extensive security infrastructure provided by Amazon AWS and Microsoft Azure ranging from physical security and environmental controls to cross the board data encryption, fine grained role based access and leading edge firewall protection. Apogy’s focus on both vertical and horizontal scalability guarantees that we will effortlessly meet both your present and future needs.
            </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Extensible</h2>
            <p>
                Apogy supports extensive integration with a wide range of enterprise systems from Single Sign-on, Active directory to Exchange, Veeva, and Salesforce. We utilize standards based RESTful data transfer that allowing us to provide a customized work flow that can communicate with any modern enterprise system.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Configurable</h2>
        <p>
            Apogy is driven by a user friendly, web based administration portal supporting an unparalleled level of customization all aspects of the system from company branding colors and multi-language support to user management and feature activation.
            </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Universal</h2>
            <p>
                As a mobile first application, Apogy utilized response design to provide optimized user experiences across all supported phones, tablets and PC and takes advantage of mobile features such as Geolocation and rich notifications.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->