<!--=== Breadcrumbs ===-->
<div class="breadcrumbs navbarPadding">
    <div class="container">
        <h1 class="pull-left"><strong>Security </strong><br/><span class="smallerText">Trusted, Solid, Reliable</span></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="">About</a></li>
            <li class="active">Login</li>
        </ul>

    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Overview</h2>
        <p>
            Apogy is a secure Cloud hosted SaaS application, administered through a responsive Web based portal and delivered as a HTML 5 and and Native iOS application. All client data is encrypted and housed in a Virtual Private Network utilizing role based access to all resource utilizing the services provided by enterprise scale hosting infrastructure. In addition, all data transmission both within the network and with the clients is secured over HTTPS and TLS connections.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Apogy Security Steering Committee</h2>
            <p>
                The Security Council Provides lead by the Chief Information Security Officer meets quarterly to review all aspects of out information security policies. Responsibilities include:
            </p>
            <ul class="text-justify">
                <li>
                    Reviewing the history customer facing incidents and analyze the mitigation of issues
                </li>
                <li>
                    Reviewing and appraising the risk governance structure, including key risk policies and critical risk tolerances
                </li>
                <li>
                    Preparing recommendations for policy updates relating to customer networks and data
                </li>
                <li>
                    Examining the changing landscape of compliance standards pertaining to our customers
                </li>
            </ul>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Cloud Provider</h2>
        <p>
            Apogy is committed to security in our corporate and cloud services environments. Apogy uses a third party infrastructure as a service (IAAS) environment, outside of customer’s local or contracted hosting environments.
            </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Physical Security</h2>
            <p>
                Physical access is strictly controlled both at the perimeter and at building ingress points by professional security staff utilizing video surveillance, intrusion detection systems, and other electronic means. All visitors and contractors are required to present identification and are signed in and continually escorted by authorized staff.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Fire Detection Suppression</h2>
        <p>
            Automatic fire detection and suppression equipment has been installed to reduce risk. The fire detection system utilizes smoke detection sensors in all data center environments, mechanical and electrical infrastructure spaces, chiller rooms and generator equipment rooms. These areas are protected by either wet-pipe, double-interlocked pre-action, or gaseous sprinkler systems.
            </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Power</h2>
            <p>
                The data center electrical power systems are designed to be fully redundant and maintainable without impact to operations, 24 hours a day, and seven days a week. Uninterruptible Power Supply (UPS) units provide back-up power in the event of an electrical failure for critical and essential loads in the facility. Data centers use generators to provide back-up power for the entire facility. Climate and Temperature Climate control is required to maintain a constant operating temperature for servers and other hardware, which prevents overheating and reduces the possibility of service outages. Data centers are conditioned to maintain atmospheric conditions at optimal levels. Personnel and systems monitor and control temperature and humidity at appropriate levels.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Management</h2>
        <p>
            Our provider monitors electrical, mechanical, and life support systems and equipment so that any issues are immediately identified. Preventative maintenance is performed to maintain the continued operability of equipment.
            </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Management</h2>
            <p>
                Network Security is Achieved Through the use of layered firewalls, advanced Network Design and Network segmentation. High-availability firewalls are used to filter traffic between the web, application and data tiers. Firewalls support deep packet stateful inspection, dropping of anomalous packets, DOS protection, spoofing monitoring, and anti-virus filtering. Apogy networks have been designed to support vLAN and subnet segmentation, port restrictions, Access Control Lists, and Address and Port Translation. All physical connections are configured in a data high availability mesh topology, with each system and service having not less than two routes for communications. Apogy’s Network Communications mesh Assures Integrity and uninterrupted flow of data across our networks. Apogy firewalls are configured consistent with National Institute of Standards and Technology (NIST) standards, and connections to all end -points reinforce our “least permissive” policy. All security devices and firewalls are monitored 24/7/365. Monitors are defined to trigger alerts when predefined thresholds are exceeded.
            </p>
            <p>
                Data in transit and at rest are encrypted to provide optimal security. Data in transit is encrypted using secure socket layer (TLS) transmissions. Data volumes are encrypted in the production cloud services environment to ensure against any unwarranted access to customer information as it passes through Apogy. Authentication data such as username and passwords will always be encrypted at-rest and in-transit within and without the Apogy application. Apogy uses double encryption (at-rest and in-transit). All data in transit is encrypted. All communication with Apogy servers goes over HTTPS/SSL. The enabled protocols are TLSv1, TLSv1.1, TLSv1.2 and the enabled ciphers are the ones recommended by the latest high security settings. For data at-rest identity information (passwords) uses the SHA-256 hashing algorithm. Antivirus software is installed on all servers to check and isolate or remove any viruses including data, attachments, etc. Systems are configured to scan for malicious software and infected files on a regular basis. New files are automatically scanned upon save or download including email attachments. Updates to virus databases are downloaded automatically and distributed through an automated update process. For attachments, customers should still maintain virus download protection in place to prevent any virus infection from that vector.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Client Device and Website Security</h2>
        <p>
            Apogy website and client devices have the following controls:
        </p>
        <ul class="text-justify">
            <li>
                Script attack prevention using built in ASP.net MVC mechanisms
            </li>
            <li>
                Cross-site request forgery prevention using built in ASP.net MVC mechanisms
            </li>
            <li>
                Anti XSS library
            </li>
            <li>
                Web-based admin control with fine grained user policy management
            </li>
            <li>
                All communication is tracked, logged, analyzed
            </li>
            <li>
                Vulnerability assessment
            </li>
        </ul>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Compliance Programs</h2>
            <p>
                The Compliance Program enables customers to understand the robust security in place and then helps them streamline their compliance with industry and government requirements for security and data protection. The IT infrastructure is designed and managed in alignment with best security practices and a variety of IT security standards, including:
            </p>
            <ul class="text-justify">
                <li>
                    SOC 1/SSAE 16/ISAE 3402 (formerly SAS 70 Type II)
                </li>
                <li>
                    SOC2
                </li>
                <li>
                    SOC3
                </li>
                <li>
                    FISMA, DIACAP, and FedRAMP
                </li>
                <li>
                    PCI DSS Level 1
                </li>
                <li>
                    ISO 27001
                </li>
                <li>
                    ITAR
                </li>
                <li>
                    FIPS 140-2
                </li>
            </ul>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->