<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v7 text-center">
    <div class="container">
        <h1>Platform</h1>
        <p>
            Trusted, Solid, Reliable
        </p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Overview</h2>
        <p>
            Apogy is a secure Cloud hosted SaaS application, administered through a responsive Web based portal and delivered as a HTML 5 and and Native iOS application. All client data is encrypted and housed in a Virtual Private Network utilizing role based access to all resource utilizing the services provided by enterprise scale hosting infrastructure. In addition, all data transmission both within the network and with the clients is secured over HTTPS and TLS connections.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Service Availability</h2>
            <p>
Apogy is deployed and managed as a multi-tenant SaaS application, utilizing the Amazon Web Services infrastructure as a services platform, providing our customers with a highly scalable and accessible platform. Apogy Web and Admin require no client infrastructure, requiring only a browser and an Internet connection to access, but Apogy iOS and Android clients do require a local mobile device installation and connectivity.
            </p>
            <p>
Apogy uses a multi-tenant architecture that allows efficient sharing of application software and hardware resources, while providing complete partitioning of each customer's data and local Apogy connection. It is managed as a single code base deployed over a distributed architecture composed of multiple components, including a web server layer, application layer, and database layer. Each component represents a physical set of infrastructures and provides the necessary application logic, data and security to support Apogy. Users access Apogy through a client app or browser, over a HTTPS/TLS connection. Trained Apogy resources, utilizing standard Apogy control policy and procedures manage the Apogy cloud service environment.
            </p>
            <p>
Apogy is built on a third party infrastructure as a service environment that provides additional capacity on demand.  Capacity is monitored via the event monitoring procedures with defined tolerance levels are used to initiate increases in capacity. All Capacity changes are made using the standard Apogy cloud change management process.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Hosting</h2>
        <p>
Apogy uses a third party infrastructure as a service (IAAS) environment, outside of customer's local or contracted hosting environments. The infrastructure as a service provider operates a SSAE 16 SOC 2 (formerly SAS 70) environment that is configured per Apogy specification and requirements during the provisioning and deployment process as part of the product release cycle.
Apogy quality representatives have performed a thorough analysis of the third party SAAS provider environment and concluded that they exceed the expectations required to ensure that Apogy can deliver on customer service levels in a secure and efficient manner.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Physical and Logical Security</h2>
            <p>
Apogy is committed to secure in our corporate and cloud services environments. Access to the corporate Apogy environment requires a key card that is acquired by employees and contractors during the on-boarding process.  The access list for these key cards are managed by the Apogy IT department.  All perimeter access requires valid key cards to gain entry.
        <p>
                Network Security is Achieved Through the use of layered firewalls, advanced Network Design and Network segmentation. High-availability firewalls are used to filter traffic between the web, application and data tiers. Firewalls support deep packet stateful inspection, dropping of anomalous packets, DOS protection, spoofing monitoring, and anti-virus filtering. Apogy networks have been designed to support vLAN and subnet segmentation, port restrictions, Access Control Lists, and Address and Port Translation. All physical connections are configured in a data high availability mesh topology, with each system and service having not less than two routes for communications. Apogy’s Network Communications mesh Assures Integrity and uninterrupted flow of data across our networks. Apogy firewalls are configured consistent with National Institute of Standards and Technology (NIST) standards, and connections to all end -points reinforce our “least permissive” policy. All security devices and firewalls are monitored 24/7/365. Monitors are defined to trigger alerts when predefined thresholds are exceeded.
            </p>
            <p>
                Data in transit and at rest are encrypted to provide optimal security. Data in transit is encrypted using secure socket layer (TLS) transmissions. Data volumes are encrypted in the production cloud services environment to ensure against any unwarranted access to customer information as it passes through Apogy. Authentication data such as username and passwords will always be encrypted at-rest and in-transit within and without the Apogy application. Apogy uses double encryption (at-rest and in-transit). All data in transit is encrypted. All communication with Apogy servers goes over HTTPS/SSL. The enabled protocols are TLSv1, TLSv1.1, TLSv1.2 and the enabled ciphers are the ones recommended by the latest high security settings. For data at-rest identity information (passwords) uses the SHA-256 hashing algorithm. Antivirus software is installed on all servers to check and isolate or remove any viruses including data, attachments, etc. Systems are configured to scan for malicious software and infected files on a regular basis. New files are automatically scanned upon save or download including email attachments. Updates to virus databases are downloaded automatically and distributed through an automated update process. For attachments, customers should still maintain virus download protection in place to prevent any virus infection from that vector.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Security Management</h2>
The information security manager is responsible for overseeing security across the Apogy organization, including Cloud application security.  The cloud services security policy is designed to communicate the security requirements that Apogy will utilize in delivering and supporting cloud services to our customers.  All employees and managers are responsible to execute their jobs on all Cloud security policies.  The Information Security Manager is responsible for overseeing that all policy is followed, and that all employees are trained.
It is the responsibility of the all employees of Apogy, Inc. involved in the design, delivery of maintenance of Apogy Cloud Service environments to comply with the policies outlined in the cloud services security policy. 
It is the responsibility of the information security manager (ISM) to ensure that the current security policies relating to Apogy Cloud services are being employed properly and that these policies remain current and up to date.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Access Control</h2>
            <p>
Apogy designs and manages all access into the Apogy cloud services environment as per the access management procedure. Third party firewall technology is deployed at our perimeter to guard against unauthorized access and access to these devices is controlled via access control lists that are maintained by select resources in our operations organization.
            </p>
            <p>
All communication is restricted to HTTP and HTTPS (ports 80 and 443) all other access are denied.  An intrusion prevention system is deployed to alert SAAS operations of unauthorized attempts to access the cloud services environment. Application tiers that support the cloud services environment are segmented and to provide further security against unrestricted access.
            </p>
            <p>
Access to the Apogy cloud services environment by internal Apogy resources is strictly controlled and based upon roles.  Request for access are made in the Apogy access control system and require executive and operations approval.  The access control system will track and record the steps in the approval process. 
The Apogy Cloud Services environment runs on a segregated network from the corporate network and requires a separate set of credentials to be accessed. Logs are kept and reviewed for internal Apogy resources accessing the Apogy cloud services environment. 
            </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Incident Response</h2>
            <p>
Incidents are identified at Apogy in a number of different ways – monitoring alerts, customer calls, vendor notifications or internal observations. Once an incident is encountered it Apogy's main focus is to resolve the issue and provide the customer with the expected service levels.
            <p>
            </p>
Reported incidents are validated by Apogy support resources and a defined set of steps are executed to attempt to quickly resolve the issue. When an incident is severely interrupting service levels the incident is escalated as per the emergency response procedure. This procedure is designed to ensure ensure that resources with the correct subject management expertise are deployed and focused on finding a corrective action that will restore expected service levels.  This procedure also describes the communication plan designed to provide regular updates to internal and external stakeholders.
            <p>
            </p>
Downtime is communicated in the following ways:
•	Scheduled, planned downtime: Apogy expects the Apogy solution to be available 24/7 with the exception of a system maintenance time window not to exceed four hours on Sunday morning.  This window is not included in the calculation of the uptime SLA.
•	Scheduled, unplanned downtime: Apogy will look to achieve any scheduled maintenance within the planned window on Sundays, however at times Apogy may require additional maintenance downtime.  In these cases, Apogy will communicate to all impacted customers at least 24 hours prior to the occurrence, providing timeframe and details of the downtime.
•	Unscheduled, unplanned downtime: In this case, Apogy will attempt to communicate to all impacted customers within 1 hour of the occurrence, and provide guidance and information as to when the expected uptime will occur.
Any changes required to the production cloud services environment in order to resolve an incident are handled through the change management process.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Disaster Recovery</h2>
            <p>
Apogy cloud disaster recovery plan is designed to manage and test the steps required to move cloud services from the primary production cloud environment to a secondary cloud services environment in a separate and diverse location.
As daily backups of the primary cloud services environment are completed they are stored in the secondary cloud services environment so they can be utilized in the case of a disaster and are current within a 36-hour period.
            </p>
            <p>
When a disaster scenario occurs the Apogy cloud services environment will be re-deployed into the secondary cloud services environment using the same validated processes that were used during the deployment of the primary cloud services environment.  Customer will be functional within 24 hours of the disaster being identified. This plan is tested annually and results are recorded to identify potential improvement points.
            </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Software Development and Testing Approach</h2>
            <p>
Apogy is a single-instance multi-tenant software-as-a-service application. As such, all new Apogy releases deployed to Apogy’ cloud services environment will provide customers instant access to the newest features and fixes. The product is released in a single-instance, iterative, date-bound fashion on a regular basis.  The frequency of these releases is yet to be determined, however it is likely that Apogy can support a 2 to 3-month major release interval, with between 4 and 6 iterative releases per year.
            </p>
            <p>
Apogy was created following standard Apogy SDLC policies and development procedures, using an agile approach to development and a continuous integration approach, with a daily build procedure generating each build and standard automated unit, integration, and regression tests executed to verify each component and interface, and to confirm success prior to further testing and development.  To keep Apogy is a fully verified state, Apogy runs every release of Apogy through a complete testing workflow prior to GA in accordance with an SDLC policy, testing procedures, and verification plans. This validation includes standard Installation, Operational, as well as Performance tests, user acceptance tests (UAT), and a third-party security assessment. A full set installation of operational and performance qualification tests are executed according to an approved plan against Apogy supported versions. Test results are summarized and a full set of evidence and traceability are gathered and verified by Quality Assurance.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Client Device and Website Security</h2>
        <p>
            Apogy website and client devices have the following controls:
        </p>
        <ul class="text-justify">
            <li>
                Script attack prevention using built in ASP.net MVC mechanisms
            </li>
            <li>
                Cross-site request forgery prevention using built in ASP.net MVC mechanisms
            </li>
            <li>
                Anti XSS library
            </li>
            <li>
                Web-based admin control with fine grained user policy management
            </li>
            <li>
                All communication is tracked, logged, analyzed
            </li>
            <li>
                Vulnerability assessment
            </li>
        </ul>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Apogy Security Steering Committee</h2>
            <p>
                The Security Council Provides lead by the Chief Information Security Officer meets quarterly to review all aspects of out information security policies. Responsibilities include:
            </p>
            <ul class="text-justify">
                <li>
                    Reviewing the history customer facing incidents and analyze the mitigation of issues
                </li>
                <li>
                    Reviewing and appraising the risk governance structure, including key risk policies and critical risk tolerances
                </li>
                <li>
                    Preparing recommendations for policy updates relating to customer networks and data
                </li>
                <li>
                    Examining the changing landscape of compliance standards pertaining to our customers
                </li>
            </ul>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Compliance Programs</h2>
            <p>
                The Compliance Program enables customers to understand the robust security in place and then helps them streamline their compliance with industry and government requirements for security and data protection. The IT infrastructure is designed and managed in alignment with best security practices and a variety of IT security standards, including:
            </p>
            <ul class="text-justify">
                <li>
                    SOC 1/SSAE 16/ISAE 3402 (formerly SAS 70 Type II)
                </li>
                <li>
                    SOC2
                </li>
                <li>
                    SOC3
                </li>
                <li>
                    FISMA, DIACAP, and FedRAMP
                </li>
                <li>
                    PCI DSS Level 1
                </li>
                <li>
                    ISO 27001
                </li>
                <li>
                    ITAR
                </li>
                <li>
                    FIPS 140-2
                </li>
            </ul>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->