<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-security text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Security</h1>
            <p>
                Trusted, Solid, Reliable
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center text-justify col-md-10 col-md-offset-1">
        <h2>Overview</h2>
        <p>
            Apogy is a secure Cloud hosted SaaS application, administered through a responsive Web based portal and delivered as a HTML 5 and and Native iOS application. All client data is encrypted and housed in a Virtual Private Network utilizing role based access to all resource utilizing the services provided by enterprise scale hosting infrastructure. In addition, all data transmission both within the network and with the clients is secured over HTTPS and TLS connections.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center text-justify col-md-10 col-md-offset-1">
            <h2>Physical and Logical Security</h2>
            <p>
Apogy is committed to secure in our corporate and cloud services environments. Network Security is Achieved Through the use of layered firewalls, advanced Network Design and Network segmentation. High-availability firewalls are used to filter traffic between the web, application and data tiers. Apogy firewalls are configured consistent with National Institute of Standards and Technology (NIST) standards. All security devices and firewalls are monitored 24/7/365.
            </p>
            <p>
                Data in transit and at rest are encrypted to provide optimal security. Data in transit is encrypted using secure socket layer (TLS) transmissions. Data volumes are encrypted in the production cloud services environment to ensure against any unwarranted access to customer information as it passes through Apogy. Authentication data such as username and passwords will always be encrypted at-rest and in-transit within and without the Apogy application. Antivirus software is installed on all servers to check and isolate or remove any viruses including data, attachments, etc.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center text-justify col-md-10 col-md-offset-1">
        <h2>Access Control</h2>
        <p>
            Access to the Apogy cloud services environment by internal Apogy resources is strictly controlled and based upon roles.  Request for access are made in the Apogy access control system and require executive and operations approval.  The access control system will track and record the steps in the approval process. The Apogy Cloud Services environment runs on a segregated network from the corporate network and requires a separate set of credentials to be accessed.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
    <div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center text-justify col-md-10 col-md-offset-1">
            <h2>Client Device and Website Security</h2>
            <p>
                Apogy website and client devices have the following controls:
            </p>
            <ul class="text-justify">
                <li>
                    Script attack prevention using built in ASP.net MVC mechanisms
                </li>
                <li>
                    Cross-site request forgery prevention using built in ASP.net MVC mechanisms
                </li>
                <li>
                    Anti XSS library
                </li>
                <li>
                    Web-based admin control with fine grained user policy management
                </li>
                <li>
                    All communication is tracked, logged, analyzed
                </li>
                <li>
                    Vulnerability assessment
                </li>
            </ul>
        </div>
    </div>
 </div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
    <div class="container content-sm">
        <div class="headline-center text-justify col-md-10 col-md-offset-1">
            <h2>Compliance Programs</h2>
            <p>
                The Compliance Program enables customers to understand the robust security in place and then helps them streamline their compliance with industry and government requirements for security and data protection. The IT infrastructure is designed and managed in alignment with best security practices and a variety of IT security standards, including:
            </p>
            <ul class="text-justify">
                <li>
                    SOC 1/SSAE 16/ISAE 3402 (formerly SAS 70 Type II)
                </li>
                <li>
                    SOC2
                </li>
                <li>
                    SOC3
                </li>
                <li>
                    FISMA, DIACAP, and FedRAMP
                </li>
                <li>
                    PCI DSS Level 1
                </li>
                <li>
                    ISO 27001
                </li>
                <li>
                    ITAR
                </li>
                <li>
                    FIPS 140-2
                </li>
            </ul>
        </div>
    </div>
<!--=== End Image Block ===-->
