<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-support text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Help Desk</h1>
            <p>
                We’re here to help
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center text-justify col-md-10 col-md-offset-1">
        <h2>Overview</h2>
        <p>
            Support is an integral component of our systems. It is a first class citizen rather than an afterthought and is embedded within all aspects of the customer engagement from requirements gathering and implementation to ongoing support and upgrades.
        </p>
        <p>
            Apogy views our customers as partners and embodies the philosophy of proactive customer success over reactive customer service. We work closely with our customers, providing a concierge level of support. As a team, we continuously explore avenues to maximize the immediate impact on our customer’s business. At the same time, as a Software as a Service (SaaS) vendor we excel in the traditional spectrum of customer support duties. Our enterprise grade architecture allows us to respond quickly to changing needs allowing us to release major updates to our systems, multiple times a year.
        </p>
        <p>
            On one front, Apogy focuses on minimizing user issues through highly available and scalable infrastructures, high quality code and clear user interfaces.
        </p>
        <p>
            A comprehensive ticketing system embedded both in the mobile apps and web admin tool.
        </p>
        <ul class="text-justify">
            <li>
                Extensive online help
            </li>
            <li>
                Real-time technical and operational assistance via telephone and email
            </li>
            <li>
                Application of upgrades, patches, error corrections and bug fixes
            </li>
            <li>
                Updates to the application documentation
            </li>
            <li>
                Support up to Tier 1, 24X7 telephone support including support for multiple languages
            </li>
        </ul>
    </div>
</div>
<!--=== End Image Block ===-->