<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v6 text-center">
    <div class="container">
        <h1>Training</h1>
        <p>
            Online learning for the external enterprise
        </p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Overview</h2>
        <p>
            Forming a good SaaS training strategy prior to implementing a new platform is a critical part of planning the implementation. Even SaaS platforms that are relatively easy to learn require employee training for a successful rollout. A good employee onboarding program acclimates users to the new platform and helps them overcome their fear of change. It shows them how they will use Apogy to do their jobs, where to find help when they need it, and how it will affect their individual development and work flow. Most importantly, employee onboarding vests the new users in the platform and makes them a part of the successful implementation. The employee training program employs a combination of training methods including how to videos, instructor led sessions, and hands-on quick start guides.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>How to videos</h2>
            <p>
                Prior to first use of a new platform, users should see the system features and have a general idea of how the platform works and how it will affect their job. Video training combines instructor-led narration with graphic imaging. Videos show Apogy in use and provide an overview that familiarizes new users with the platform. After Apogy is implemented and they begin using the new platform, the knowledge gained in the training videos helps them integrate Apogy with their job role. Training videos start new users off on the right foot and supplement more specific training later in the training process.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center">
        <h2>Instructor led sessions</h2>
        <p>
            Realize the potential of your Apogy investment with targeted instructor led training for your Apogy admins, learning managers and event staff. Apogy offers instructor led training as part of our blended learning and adoption approach. New users will experience active learning through case studies designed to guide you and your teams to quickly become Apogy experts. Ask questions, collaborate with others and unlock the potential Apogy can bring to your organization.
        </p>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Quick start guides</h2>
            <p>
                Hands-on Quick start guides step users through a process. They take a specific work function and show users how to perform it step-by-step from start to finish. Quick start guides for various roles ensures users have the information they need, when they need it. How it works – users new to Apogy arrive at a screen for the first time and the walkthrough guide appears automatically to step them through the process. Later, they can access the Context-sensitive help with a single tap or click if they need it.
            </p>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->