<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Classroom Training</h1>
            <p>
                Don’t just train people. Foster Learning.
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Challenge</h2>
        <p>
            We inspire workforces. Today’s most successful companies recognize the competitive edge a true learning culture provides. Advantages such as increased employee productivity, improved communication and cooperation, and greater loyalty from both employees and customers. Still many companies simply don’t have the tools they need to adopt a culture of learning.
        </p>
        <br>
        <img class="img-responsive img-center" src="/Content/assets/images/oldWebsitePics/cultivatingLearning5.png" alt="">
    </div>

</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center text-justify col-md-10 col-md-offset-1">
            <h2>Solution</h2>
            <p>
                Don’t just “change the game”- Create a paradigm shift with a mobile platform specifically developed for the way they learn, collaborate, and excel. Apogy provides easy access to relevant learning and development opportunities, and in app integrations with the mission critical business systems they use most. Apogy connects employees to the content they need, and to the experts that help turn wasted time, into professional development moments.
            </p>
            <hr/>
        </div>
        <div class="text-justify col-md-10 col-md-offset-1">
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-docs"></i>
                        <div class="service-block-desc">
                            <h3>Daily Learning</h3>
                            <p>
                                Create a daily habit of learning. Combined with input from you, your peers, managers and trainers, Apogy can help you construct a detailed, personalized development plan that can be adjusted as your reps progress. Assign training to your custom user groups, using large content library that can be browsed, searched and filtered. Ranging from custom content for content modalities, many kinds of assessments, and standards-based SCORM and Tin-Can content to third-party licensed content streams.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-magnifier"></i>
                        <div class="service-block-desc">
                            <h3>Classroom Materials</h3>
                            <p>
                                Apogy simplifies and streamlines access to your most critical content. Apogy supports a full suite of viewers for content in any format. Your curated content becomes instantly available to users whether you create a content library in Apogy, or integrate Apogy with your marketing automation platform, document management, or Sales CRM. Pair that with in-depth content usage analytics and reports, you will gain new insights into your investment in content and its impact on the team.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-calendar"></i>
                        <div class="service-block-desc">
                            <h3>Plan Your Classes</h3>
                            <p>
                                Access available courses and activities to create a syllabus. Assign training to your custom user groups, using large content library that can be browsed, searched and filtered. Ranging from custom content for content modalities, many kinds of assessments, and standards-based SCORM and Tin-Can content to third-party licensed content streams.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-globe"></i>
                        <div class="service-block-desc">
                            <h3>Connect to Resources</h3>
                            <p>
                                Connect to external resources. Eliminate the need for reams of paper and take advantage of the built-in content management features. This helps guarantee that content is always up to date. Digital media comes alive with the inclusion of multimedia elements such as video, audio and interactive exercises.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-users"></i>
                        <div class="service-block-desc">
                            <h3>Engage Your Students</h3>
                            <p>
                                Engage in a study group discussion. Any presentation can be made more memorable with individual engagement. Apogy provides an app-enabled way to collect questions from the audience and choose which ones to answer. Integrated polling with real time results injects a dynamic element into any class. Apogy’s Audience Response System allows users to participate in polling, surveys, Q&A and multiuser, interactive exercises right from their mobile devices.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-bubbles"></i>
                        <div class="service-block-desc">
                            <h3>Communicate and Collaborate</h3>
                            <p>
                                Communicate with like-learners. Host study groups with our collaboration channels and calendar-integrated learning activities. Chat with the presenter, a peer or the group during the presentation. This is a great way for participants to stay engaged and gain more information about the key messages without having to interrupt the session.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}