<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Coaching & Communication</h1>
            <p>
                Mentor, Coach and connect the world’s best teachers to your employees anywhere at anytime.
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Make Connections</h2>
        <p>
            As the world becomes more automated, it’s important to remember the value of live mentorship from someone who’s been there. Apogy provides the tools a coach needs to artfully manage the development of their team. Apogy empowers coaches and mentors with live peer-to-peer mentoring sessions and interactive presentation tools.
            </p><br>
        <p>
            Coaches are completely accessible to their teams, even if they’re across the country. Connect through live video chat, either one-on-one or in small groups. Apogy allows coaches to share learning materials and presentations, with interactive features such as role-play certifications and allowing team members to ask questions and respond to live polls.
            </p><br>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-graduation"></i>
                    <div class="service-block-desc">
                        <h3>Social Learning</h3>
                        <p>
                            Apogy incorporates social features such as chat, peer mentoring, group collaboration and audio/visual participation giving learners more tools to engage with.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-screen-desktop"></i>
                    <div class="service-block-desc">
                        <h3>Virtual Classroom</h3>
                        <p>
                            Why be limited by geography? Noggin’s virtual classrooms allow small groups of learners and trainers to engage in a videoconference with support for peer-to-peer audio, video, and shared content streaming. Students can share videos with their coach to help refine their pitch or complete an assessment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-notebook"></i>
                    <div class="service-block-desc">
                        <h3>Activity Forum</h3>
                        <p>
                            Every learner is different and not all topics can be taught in the same way. Noggin offers over two dozen learning activity formats or modalities ranging from eBooks, podcasts, and interactive videos to virtual classes and self-study coursework.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-list"></i>
                    <div class="service-block-desc">
                        <h3>Content</h3>
                        <p>
                            Take advantage of the built-in content management features to help guarantee that content is always up-to-date. Digital media comes alive with video, audio and presentation media. Facilitators can easily switch between activities and add new items on the fly                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-20">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-bell"></i>
                    <div class="service-block-desc">
                        <h3>Notification</h3>
                        <p>
                            Never miss an important meeting again. The fully configurable cloud-based notification engine will remind you when, where, and how you want.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="service-block-v8">
                    <i class="icon-bubbles"></i>
                    <div class="service-block-desc">
                        <h3>Chat</h3>
                        <p>
                            Chat with the presenter, a peer or the group during the presentation. This is a great way for participants to stay engaged and gain more information about the key messages without having to interrupt the session.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}