<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Commercial Enablement</h1>
            <p>
                Engage and empower your new hires from the moment they sign on!
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60  text-justify col-md-10 col-md-offset-1">
        <h2>Challenge</h2>
        <p>
            Whether it is a new product launch, new marketing campaign, or new hire on-boarding, field personnel have a unique set of hurdles to overcome before they can be productive and effective. They need to master complex product details and have easy facility with the most up-to-date literature when they are in front of potential customers. On-the-go reps have the additional challenge of working alone and off-site most of the time, without the safety net of peers and coaches around them.
        </p>
        <br>
        <img class="img-responsive img-center" src="/Content/assets/images/oldWebsitePics/salesAblement.png" alt="">
    </div>
    
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60  text-justify col-md-10 col-md-offset-1">
            <h2>Solution</h2>
            <p>
                Apogy is the one, simple mobile app that places everything your field team needs at their fingertips. It fully empowers a sales team to grow to its potential by giving them a very easy way to consume the latest available content, collaborate with like-minded colleagues, engage deeply with their customers, and ultimately be the most effective in selling.
            </p>
            <p>
Apogy gives businesses appropriate flexibility and control, as well as visibility into the team’s activities to ensure alignment with strategic and product sales and support goals. By measuring and evaluating usage of market content and sales intelligence, managers can target specific content recommendations to their teams.
            </p>
            <p>
Apogy connects the dots between the corporate sales CRM, the marketing automation platform, the document management system, and the learning management system. Support collaboration and communication within the team, and networking outside your team at your customer events by providing the tools they need on a single, secure, controlled platform. Apogy is the launch pad to everything that a field rep needs to be the most effective.
            </p>
        </div>


        <div class="col-md-10 col-md-offset-1">
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-briefcase"></i>
                        <div class="service-block-desc">
                            <h3>One Place to Go</h3>
                            <p>
                                Simple is often better. Apogy’s framework provides one common platform for your entire team. It is a single, “go to”, space to launch field collaboration, communication, and learning. A gateway entry point to web and app resources offers a wide range of integration options. Post company, team, or event feeds any time to share ideas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-calendar"></i>
                        <div class="service-block-desc">
                            <h3>Broadcast and Centralize</h3>
                            <p>
                                Besides being a launch pad for your most important systems and apps, Apogy simplifies and streamlines access to your most critical content. Apogy supports a full suite of viewers for content in any format. Your curated content becomes instantly available to users whether you create a content library in Apogy, or integrate Apogy with your marketing automation platform, document management, or Sales CRM. Pair that with in-depth content usage analytics and reports, you will gain new insights into your investment in content and its impact on the team.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-globe"></i>
                        <div class="service-block-desc">
                            <h3>Events</h3>
                            <p>
                                Live meetings drive positive business outcomes when all your attendees are engaged. Apogy amplifies event engagement by connecting people, speakers, content and experiences in a meaningful way. With a full suite of specific features that may be easily, and uniquely, configured for each event, your field teams only need one single app. With it, the event and conference activities simply become part of the commercial enablement experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-graduation"></i>
                        <div class="service-block-desc">
                            <h3>Onboarding</h3>
                            <p>
                                Apogy is optimized for mobile delivery of the best-of-breed on-boarding experience. Supplement your existing LMS-based training and open new avenues of interaction through Apogy’s calendar-integrated learning activities. Provide personalized learning plans that can support both product launch objectives and on-boarding requirements. Close knowledge gaps through courses, evaluations, certification assessments, coaching, and role-plays during events.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-feed"></i>
                        <div class="service-block-desc">
                            <h3>Communication</h3>
                            <p>
                                With features such as robust messenger and group chats, 1-on-1 or many-to-many virtual meetings, face-to- face appointment scheduling at events, connecting with your customers and colleagues has never been easier. Users also have quick access to full company directory to call, email, or chat immediately. Regardless of your customer’s or team’s communication preference, Apogy gets your users connected so they can focus on the conversation rather than the technology.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-users"></i>
                        <div class="service-block-desc">
                            <h3>Field Operations</h3>
                            <p>
                                Apogy provides a simple conduit for communicating with your team. Corporate announcements, banners, and notifications allow you to disseminate information with ease. Eliminate linked spreadsheets that tie together multiple systems. Provide a calendar for your team that contains events, sessions, on-boarding activities, customer appointments, marketing events, and other critical meetings that integrate directly into personal calendars.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- End Service Block v8 -->
            </div>
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}