@*<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v6 text-center">
    <div class="container">
        <h1>Content Delivery</h1>
        <p>
            NEW PAGE
        </p>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->*@