<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Gaining Insights</h1>
            <p>
                "Don’t go Big. Go Smart"
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Challenge</h2>
        <p>
            Just a few years ago, organizations simply wanted to capture data. Any data of any kind was enough and the “Big Data” craze was born. Today Smart learning organizations are demanding “smart data” that is relevant, timely and can be put to real business use. With proper analysis and analytics, they can now gain a better understanding into their employee behavior, increase learning effectiveness and ultimately impact the bottom line. However, without an effective capture toolset, organizations still can’t track the sheer volume, variety and velocity of data available.
            </p><br>
    </div>
    <img class="img-responsive img-center" src="/Content/assets/images/oldWebsitePics/gainingInsightsInforgraphic.jpg" alt="">
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
            <h2>Solution</h2>
            <p>
                Leverage Apogy’s analytics and reporting tools to deliver relevant and actionable information from the individual employee level, throughout the organization.
            </p>
            <p>
                Apogy’s AI Analytics Discover, interpret and communicate patterns of data to drive the development of high performing employee. Making the connection between the value of a learning program, performance, and the business is where learning leaders can find gold in analytics. Leverage Apogy’s advanced AI analytics and reporting tools to deliver relevant and actionable information for your entire work force.
            </p>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-graph"></i>
                        <div class="service-block-desc">
                            <h3>Predict</h3>
                            <p>
                                Predict employee performance and potential interventions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-calendar"></i>
                        <div class="service-block-desc">
                            <h3>Provide</h3>
                            <p>
                                Provide a path for personalized learning experience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-game-controller"></i>
                        <div class="service-block-desc">
                            <h3>Gamify</h3>
                            <p>
                                Gamify learning with leaderboards and create competition.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-drawer"></i>
                        <div class="service-block-desc">
                            <h3>View</h3>
                            <p>
                                View usage data, performance statistics competency gaps and social trends.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-globe"></i>
                        <div class="service-block-desc">
                            <h3>Connect</h3>
                            <p>
                                Connect learning to commercial performance.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-list"></i>
                        <div class="service-block-desc">
                            <h3>Plan</h3>
                            <p>
                                Plan, respond, and adjust to maintain competitive advantage.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}