<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Onboarding and Product Launch</h1>
            <p>
                Engage your new hires from the moment they sign on!
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Challenge</h2>
        <p>
You’ve worked hard to hire the best - now turn them into productive employees quickly. Too often Leaders don’t place urgency in a robust onboarding experience and that’s a wasted moment. A great onboarding experience has been proven to increase productivity, employee moral, knowledge retention, and even reduce compliance violations.
        </p><p>
            In the corporate universe, any extra day that a field rep is not fully ready is potential loss of opportunities or revenue. Marketing, Training and Sales Managers are charged to make the field team effective. How can companies optimize their time and resources so that the field teams are always trained and ready with the latest messaging and information? How do they bring collaboration to the next level while keeping conversations secure? How can they simplify the way a mobile workforce organize their day so field teams are spending productive time selling?
        </p><br>
        <img class="img-responsive img-center" src="/Content/assets/images/oldWebsitePics/obboardingCrucialOnboarding7.jpg" alt="">

    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
            <h2>Solution</h2>
            <p>
                Don’t just hope your message is working! Know it! Apogy enables your sales forces to aligning their messaging, to each customer’s value proposition. Apogy helps your sales force by providing smart, intuitive and predictive data that will help unleash that moment’s maximum potential. Our just in time technology, ensures and engaged, empowered and refined sales organization at every step of the cycle. Think of our onboarding tools as your personal sales coach. Now go get em.
            </p>
            <p>
                Apogy is optimized for mobile delivery of the best-of-breed on-boarding experience. Supplement your existing LMS-based training and open new avenues of interaction through Apogy’s calendar-integrated learning activities. Provide personalized learning plans that can support both product launch objectives and on-boarding requirements. Close knowledge gaps through courses, evaluations, certification assessments, coaching, and role-plays during events.
            </p>
        </div>

        <div class="text-justify col-md-10 col-md-offset-1">
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-magic-wand"></i>
                        <div class="service-block-desc">
                            <h3>Learning Plans</h3>
                            <p>
                                Apogy knows exactly where you stand. Combined with input from you, your peers, managers and trainers, Apogy can help you construct a detailed, personalized development plan that can be adjusted as your reps progress. Assign training to your custom user groups, using large content library that can be browsed, searched and filtered. Ranging from custom content for content modalities, presentations, documents, websites, audio books, many kinds of assessments, and standards-based SCORM and Tin-Can content to third-party licensed content streams.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-graph"></i>
                        <div class="service-block-desc">
                            <h3>Learning Management</h3>
                            <p>
                                Cuts through these issues by providing an easy to use, integrated system that allows you to manage, control and view all aspects of learning from a variety of dimensions and perspectives. Use an integrated system that allows you to manage, control and view all aspects of a learning plan for each person on your team. Supplement your existing LMS-based training and open new avenues of interaction through Apogy’s calendar-integrated learning activities. Provide personalized learning plans that can support product launch objectives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-hourglass"></i>
                        <div class="service-block-desc">
                            <h3>Coaching</h3>
                            <p>
                                Learning is usually ineffective when it happens in a vacuum. Apogy helps you find each learner the best mentors, tutors and coaches to help maximize their learning. Students can share videos with their coach to help refine their pitch or complete an assessment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-graduation"></i>
                        <div class="service-block-desc">
                            <h3>Virtual Classrooms</h3>
                            <p>
                                Why be limited by geography? Apogy’s virtual classrooms allow small groups of learners and trainers to engage in a virtual conference with support for peer-to-peer audio, video, and shared content streaming. Students can view content and presentations while asking questions and responding to survey polling, all within the app.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-list"></i>
                        <div class="service-block-desc">
                            <h3>Progress Tracking</h3>
                            <p>
                                Track progress all through one platform.  Continuous adaptive assessments can be embedded within the activities, providing real-time feedback, measuring one’s current proficiencies and skill gaps so you will always know where you stand. Gauge comprehension using the built in evaluation tools. All activity within Apogy is tracked at a fine-grained level.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-star"></i>
                        <div class="service-block-desc">
                            <h3>Social Learning</h3>
                            <p>
                                Apogy incorporates social features, from messaging, user generated content and group learning to peer mentoring, activity streams, group collaboration, and audio/visual participation. Comment on a great piece of content, follow that user, like their post, or add their post to your own private catalog.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}