<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Plan of Action Meetings</h1>
            <p>
                Apogy informs and assists your product launch.
            </p>
        </div>
    </div>
</div>

<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Challenge</h2>
        <p>
Running a Plan of Action (POA) meeting is an exercise in keeping many moving parts in sync. That’s true for the event manager but it’s also true for the individual reps and field employees, too. Everyone is juggling logistics, schedules and keeping track of attendees to help them make connections. How do you empower your sales team without forcing them to constantly switch between apps? How do you put all the event information, from team profiles to key materials and available meeting rooms, at their fingertips? How do you manage the flow of the event and what sales teams see when they consult their phones? And most importantly, how do you make the event smarter, from polling, Q&A sessions, training, certifications, to team challenges and ultimately, successfully launching your team and your products?
        </p><br>
    </div>
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Solution</h2>
        <p>
Apogy empowers your POA allows your sales reps and field personnel to know exactly what’s next in a single glance. Enable your sales team to efficiently plan the event, from scheduled appointments, to meetings, to booth time. Support certifications, training, questionnaires, and rich content for active learning during the event. Empower your employees and stakeholders to have a smarter, more engaging experience, maximizing the value and ROI. Best of all, you can use the same app over and over again, for all your team’s events - the event no longer needs to stop when you leave the meeting.
        </p><br>
        <p>
            Apogy’s seamless integration provides a powerful way to facilitate breakout sessions, one-on-one discussions, and distribution information and pre-recorded broadcasts. By threading learning throughout daily activity and tailoring the earning experience, we transform passive moments into productive results.
        </p><br>
        <p>
            Turn user behavior into practical analytics for the first time ever. Digitize your events at every stage to empower event profs, marketers, exhibitors and sponsors alike to better evangelize, energize, monetize and optimize live events and maximize ROI on their marketing spend.
        </p><br>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
<div class="container content-sm">
    <div class="col-md-10 col-md-offset-1">
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-calendar"></i>
                    <div class="service-block-desc">
                        <h3>Stay in the Know</h3>
                        <p>
                            Don’t miss out again. Live meetings undergo constant flux with details changing from minute to minute. Take advantage of personalized, up to date, dynamic schedules, so you always know where you need to be at all times. Don’t get caught off guard as you will always have exactly what you need. The content will always be fresh, reflecting the newest changes, and it shows with your own calendar. Finally, use the app to track booth time, set up appointments and meetings with your customers, and schedule rooms.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-drawer"></i>
                    <div class="service-block-desc">
                        <h3>At Your Fingertips</h3>
                        <p>
                            Access complete and detailed information covering every aspect of the meeting from one convenient place. From schedules and hotel maps to local information and detailed bios of the speakers, all information is available within seconds. Like what you find? Bookmark it and take notes. Change in plans? Don’t worry, you will be notified. Get your attendees involved in sessions through great content, audience polling, Q&A and surveys right from a phone or tablet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-bar-chart"></i>
                    <div class="service-block-desc">
                        <h3>Make New Connections</h3>
                        <p>
                            A great benefit of live meetings is face time with one another, and you can take that to a whole new level with Apogy Events. Real-time chat and video messaging allow you to form new bonds with colleagues. Integrated social feeds allow attendees to share their experiences with their colleagues. Multiple challenges with individual and team-based leaderboards keep it fun. The event no longer needs to stop when you leave the meeting.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-globe"></i>
                    <div class="service-block-desc">
                        <h3>Manage with Ease</h3>
                        <p>
                            Eliminate linked spreadsheets and duplicate data entry. Manage all aspects of the meeting from planning to post meeting evaluation through a single convenient web based portal. Customized workflows allow you to meet your business needs in a straight forward and largely automated fashion. Customize the app to reflect your brand, and change the interface to best reflect your needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-20">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-question"></i>
                    <div class="service-block-desc">
                        <h3>Measure the Impat</h3>
                        <p>
                            Fine-grained tracking, polling, and surveys all contribute to the extensive pool of collected data. Embedded courses, questionnaires and role-play certifications allow you to assess how impactful sessions really are. A reporting dashboard helps to disseminate these insights through the enterprise.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="service-block-v8">
                    <i class="icon-bar-chart"></i>
                    <div class="service-block-desc">
                        <h3>Polling</h3>
                        <p>
                            Measure the pulse of the group. Integrated polling with real time results injects a dynamic element into any meeting. Apogy’s Audience Response System allows users to participate in polling, surveys, Q&A and multiuser, interactive exercises right from their mobile devices.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-bubbles"></i>
                    <div class="service-block-desc">
                        <h3>Content Control</h3>
                        <p>
                            Manage all event content from a single web based interface. Multiple languages supported, with many file types supported for quick access to event materials, presentations, maps, and 3rd party systems. Content updates within seconds anywhere from the office to the event floor guaranteeing that everyone has exactly what they need. With App builder widgets, update the configuration of the user interface instantly, surfacing key content and capabilities on the fly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-users"></i>
                    <div class="service-block-desc">
                        <h3>Find Your Way</h3>
                        <p>
                            Take advantage of a growing technology trend. With beacons strategically placed throughout your event venue, Apogy Events can be used for challenges, scavenger hunts, and interactive displays based on location. Attendees are checked-in to sessions, and can view content for that session when they enter the meeting room.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
    </div>
</div>
    </div>
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}}

