<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Product Realignment</h1>
            <p>
                Products Evolve. Make sure your employees have the tools to move in tandem.
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Challenge</h2>
        <p>
            Apogy makes product evolution smoother, smarter and faster than even before. Traditionally, Product realignments can create strain on every aspect of the organization. But growth is essential component to help organizations take the quantum leap they need to ensure commercial excellence.
        </p><br>
        <img class="img-responsive img-center" src="/Content/assets/images/oldWebsitePics/productRealignment2.png" alt="">

    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
            <h2>Solution</h2>
            <p>
                Use Apogy to deliver product realignment training without ever stepping on a plane. Keep sales teams in field while connecting them to trainers and subject matter experts. And never compromise training consistency or the training experience.
            </p>
            <p>
                Apogy is a nimble platform that can adapt to the complexity of product realignment, and make the transition a more seamless, clear and fluid process Imagine delivering your realignment training from virtually anywhere. Keep sales teams in the field while connecting them to trainers and subject matter experts. Our agile learning functions support speedy and efficient field realignment for any commercial organization looking to align their product realignment with their employees.
            </p>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-calendar"></i>
                        <div class="service-block-desc">
                            <h3>Learning Plan Creation</h3>
                            <p>
                                Create and manage blended curricula. Use an integrated system that allows you to manage, control and view all aspects of a learning plan for each person on your team. Supplement your existing LMS-based training and open new avenues of interaction through Apogy’s calendar-integrated learning activities. Provide personalized learning plans that can support product launch objectives.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-list"></i>
                        <div class="service-block-desc">
                            <h3>Assign Plans</h3>
                            <p>
                                Assign training to your custom user groups, using large content library that can be browsed, searched and filtered. Ranging from custom content for the modalities and standards-based SCORM and Tin-Can content to third-party licensed content streams. Close any knowledge gaps through courses, evaluations, certification assessments, coaching, and role-plays during events.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-graduation"></i>
                        <div class="service-block-desc">
                            <h3>Virtual Meetings</h3>
                            <p>
                                With features such as 1-on-1 or many-to-many virtual meetings, connecting with your customers and colleagues has never been easier. Users have quick access to full company directory to instantly meet online. Stay connected to your team at all times with fully-featured virtual meetings that can present PDF, Powerpoint, web content and full screen, and can be used for roleplay certifications, presentation reviews, and customer meetings.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-feed"></i>
                        <div class="service-block-desc">
                            <h3>Host Study Groups</h3>
                            <p>
                                Host study groups with our collaboration channels and calendar-integrated learning activities. Chat with the presenter, a peer or the group during the presentation. This is a great way for participants to stay engaged and gain more information about the key messages without having to interrupt the session.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-graph"></i>
                        <div class="service-block-desc">
                            <h3>Certifications</h3>
                            <p>
                                Don’t get flagged as noncompliant. Apogy combines tracking, assessment, automated communication, auditing, customized rules engines, content access, content presentation, reporting and third party compliance systems integration to create a complete solution.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-check"></i>
                        <div class="service-block-desc">
                            <h3>Track Progress</h3>
                            <p>
                                Track progress all through one platform. Gauge comprehension using the built in evaluation tools. All activity within Apogy is tracked at a fine-grained level. Continuous adaptive assessments may be embedded within the activities, providing real-time feedback, measuring one’s current proficiencies and skill gaps so you will always know where you stand and what you need to work on.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}