<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Regional Training</h1>
            <p>
                "Fuhgettaboutit"
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60">
        <h2>Challenge</h2>
        <p>
            Regions matter: The way we work is affected by region in which we live, work walk and talk. Today many organizations struggle with delivering consistent learning strategy, and simply don’t have the proper tools and resources to support the real-time shifts in regional business strategy. Without the proper tools, it’s a challenge to deliver employees relevant messaging, learning materials, as well as access to the thoughts leaders in their region.
            </p><br>
    </div>
    <img class="img-responsive img-center" src="/Content/assets/images/oldWebsitePics/regionalTraining6.png" alt="">
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Solution</h2>
            <p>
                Apogy is your home HQ. Our mobile and web-based platform ensures a consistent learning experience regardless of location, time and region. Apogy efficiently manages, organizes and tracks everything your employees need to ensure a successful learning experience – from onboarding on route throughout their tenure. Easily provide access to training staff and subject matter experts when your team needs them the most. With Apogy sales teams can easily complete certifications, track and accomplish more wherever they are and at anytime. That way they can focus their time on what really matters: Customers.
            </p>
        </div>

        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-list"></i>
                    <div class="service-block-desc">
                        <h3>Create</h3>
                        <p>
                            Create personalized learning plans with your approved content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-screen-desktop"></i>
                    <div class="service-block-desc">
                        <h3>Meet</h3>
                        <p>
                            Meet with instructors or attend a virtual class using Apogy’s live virtual classroom.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-check"></i>
                    <div class="service-block-desc">
                        <h3>Gauge</h3>
                        <p>
                            Gauge comprehension using the built in evaluation tools.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-v8">
                    <i class="icon-bubbles"></i>
                    <div class="service-block-desc">
                        <h3>Start</h3>
                        <p>
                            Start a private chat for your learners to exchange ideas and learn together.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
        <!-- Service Block v8 -->
        <div class="row margin-bottom-20">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-v8">
                    <i class="icon-graph"></i>
                    <div class="service-block-desc">
                        <h3>Track</h3>
                        <p>
                            Track activity and mastery with Apogy’s deep, multi-faceted analytics.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="service-block-v8">
                    <i class="icon-share"></i>
                    <div class="service-block-desc">
                        <h3>Share</h3>
                        <p>
                            Share expertise regardless of location.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Block v8 -->
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}