<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Events & Meetings, POAs, and Kickoffs</h1>
            <p>
                Apogy transforms events into opportunities to create genius.
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Challenge</h2>
        <p>
Managing large company events is an exercise in keeping many moving parts in sync. That’s true for the event manager but it’s also true for the individual reps and field employees, too. Everyone is juggling logistics, schedules and keeping track of attendees to help them make connections. How do you empower your sales team without forcing them to constantly switch between apps? How do you put all the event information, from team profiles to key materials and available meeting rooms, at their fingertips? How do you manage the flow of the event and what sales teams see when they consult their phones? And most importantly, how do you make the event smarter, from polling, Q&A sessions, training, certifications, to team challenges and ultimately, successfully launching your team and your products?
        </p><br>
    </div>
    
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
            <h2>Solution</h2>
            <p>
                Apogy Events gives you the control, convenience and collaboration needed to launch effective company events, from internal meetings, to field marketing events, to global programs. Allow your sales reps and field personnel to know exactly what’s next in a single glance. Enable your sales team to efficiently plan the event, from scheduled appointments, to meetings, to booth time. Support certifications, training, questionnaires, and rich content for active learning during the event. Empower your employees and stakeholders to have a smarter, more engaging experience, maximizing the value and ROI. Best of all, you can use the same app over and over again, for all your team’s events - the event no longer needs to stop when you leave the meeting.
            </p><br>
            <p>
                Apogy’s seamless integration provides a powerful way to facilitate breakout sessions, one-on-one discussions, and distribution information and pre-recorded broadcasts. By threading learning throughout daily activity and tailoring the earning experience, we transform passive moments into productive results.
            </p><br>
            <p>
            Eliminate linked spreadsheets and duplicate data entry. Manage all aspects of the meeting from planning to post meeting evaluation through a single convenient web based portal. Customize the app to reflect your brand, and change the interface to best reflect your needs.
            </p><br>
            <p>
                Turn user behavior into practical analytics for the first time ever. Digitize your events at every stage to empower event profs, marketers, exhibitors and sponsors alike to better evangelize, energize, monetize and optimize live events and maximize ROI on their marketing spend.
            </p><br>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-calendar"></i>
                        <div class="service-block-desc">
                            <h3>Agenda</h3>
                            <p>
                                Gain access to all meeting events tied directly into both personal and private calendars that stay up to date as scheduling updates occur. Changes are completely controlled through the web-based administrative portal.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-drawer"></i>
                        <div class="service-block-desc">
                            <h3>Content</h3>
                            <p>
                                Eliminate the need for reams of paper and take advantage of the built-in content management features. This helps guarantee that content is always up to date. Digital media comes alive with the inclusion of multimedia elements such as video, audio and interactive exercises.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-bar-chart"></i>
                        <div class="service-block-desc">
                            <h3>Q&A</h3>
                            <p>
                                Any presentation can be made more memorable with individual engagement. Apogy provides an app-enabled way to collect questions from the audience and choose which ones to answer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-globe"></i>
                        <div class="service-block-desc">
                            <h3>Networking</h3>
                            <p>
                                Extensive tracking, coupled with big data analytics and graph analysis, drive the recommendation engine, matching individuals and groups to lasting networks of professional peers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-question"></i>
                        <div class="service-block-desc">
                            <h3>Surveys</h3>
                            <p>
                                A critical aspect of meeting planning is to know exactly what people want and need, and then to provide it for them. Through embedded surveys, meeting organizers can study current meetings and plan future ones accordingly.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-bar-chart"></i>
                        <div class="service-block-desc">
                            <h3>Polling</h3>
                            <p>
                                Measure the pulse of the group. Integrated polling with real time results injects a dynamic element into any meeting. Apogy’s Audience Response System allows users to participate in polling, surveys, Q&A and multiuser, interactive exercises right from their mobile devices.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-bubbles"></i>
                        <div class="service-block-desc">
                            <h3>Messaging</h3>
                            <p>
                                Real time, geo-tagged, individual and group messaging provides an effective channel to supplement any meeting. All messages are archived and searchable so that key thoughts and insights are preserved for later reference.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-users"></i>
                        <div class="service-block-desc">
                            <h3>Social</h3>
                            <p>
                                Apogy messaging, meetings and collaborative challenges are only part of the social equation. Full integration with traditional channels, such as LinkedIn and Twitter, is also available. Keeping in touch is simple when attendees can easily manage new connections, share contact information and stay connected long after the event.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-bell"></i>
                        <div class="service-block-desc">
                            <h3>Notifications</h3>
                            <p>
                                Meeting organizers can target attendees or groups with personalized notifications highlighting important and time sensitive information through a familiar interface before, during and after the event.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-game-controller"></i>
                        <div class="service-block-desc">
                            <h3>Gamification</h3>
                            <p>
                                The key to a successful meeting is to engage the attendees with novel and memorable events that spark interaction between them. Group and individual competitive activities can be embedded throughout the meeting, aided by their mobile devices. Virtual rewards and leaderboards help spur creativity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-map"></i>
                        <div class="service-block-desc">
                            <h3>Maps</h3>
                            <p>
                                View detailed maps for everything from the hotel and meeting rooms, to vendor booths and coffee stations. Enhanced maps include iBeacon driven real-time locations of all attendees. Augmented reality powers step-by-step directions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-directions"></i>
                        <div class="service-block-desc">
                            <h3>Guides</h3>
                            <p>
                                Complete guides to local entertainment, attractions, transportation, lodging and dining enhance your entire stay. Apogy is your companion for the entire event.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}}