<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-solutions text-center divCenteredOuter">
    <div class="divCenteredInner">
        <div class="container">
            <h1>Social and Aggregation</h1>
            <p>
                Better Together. Better as One.
            </p>
        </div>
    </div>
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Image Block ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Enterprise Biome</h2>
        <p>
            Work more efficiently. Apogy is the connective tissue for all your business tools, applications and systems – providing an iEB (intelligent enterprise biome) for your employees.
            </p><br>
    </div>
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Value Time</h2>
        <p>
            We are pioneers, navigating the new world of applications made available to drive commercial success. Guide your employees to the mobile workstyle they’ve been asking for. Apogy intelligently connects people to the tools they need when they need them most. Give your employees the gift of focus. Save time searching for applications and increase productive time spent inside your applications.
            </p><br>
    </div>
    <div class="headline-center margin-bottom-60 text-justify col-md-10 col-md-offset-1">
        <h2>Value Investments</h2>
        <p>
            Your Apogy iEB provides single sign-on capabilities and direct access to your third-party applications such as an existing LMS, CRM or sales force automation platform. Apogy’s connected, intelligence helps your employees better utilize your existing software – ultimately increasing their ROI to your organization.
            </p><br>
    </div>
</div>
<!--=== End Image Block ===-->
<!--=== Service Block ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="col-md-10 col-md-offset-1">
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-star"></i>
                        <div class="service-block-desc">
                            <h3>Recommendations</h3>
                            <p>
                                Through content metadata tagging, Apogy makes recommendations across a wide range of areas including appropriate content, peer meetings, trainers and teachers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-list"></i>
                        <div class="service-block-desc">
                            <h3>Social Learning</h3>
                            <p>
                                Incorporates social features, from messaging, user generated content and group learning to peer mentoring, activity streams and social platform integration, including LinkedIn, Twitter and Facebook.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-20">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-calendar"></i>
                        <div class="service-block-desc">
                            <h3>Goal Alignment</h3>
                            <p>
                                By examining your skill gaps and looking at your schedule, Noggin can help lay out a plan to get you exactly where you want to go and where the organization needs you to be.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="service-block-v8">
                        <i class="icon-graph"></i>
                        <div class="service-block-desc">
                            <h3>Progress Tracking</h3>
                            <p>
                                Continuous adaptive assessments are embedded within the activities, providing real-time feedback, measuring one’s current proficiencies and skill gaps so you will always know where you stand.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-drawer"></i>
                        <div class="service-block-desc">
                            <h3>Content Libraries</h3>
                            <p>
                                Apogy provides a large content library that can be browsed, searched and filtered. Ranging from custom content for the modalities and standards-based SCORM and Tin-Can content to third-party licensed content streams.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-feed"></i>
                        <div class="service-block-desc">
                            <h3>Activity Forms</h3>
                            <p>
                                Apogy offers over two dozen multi-sensory activity formats or modalities ranging from eBooks, podcasts, and interactive videos to serious games, immersive learning labs and 3D simulations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-v8">
                        <i class="icon-book-open"></i>
                        <div class="service-block-desc">
                            <h3>Engagement & Feedback</h3>
                            <p>
                                Apogy combines media rich interactive and social elements with continuous assessment and feedback to enhance all learning.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-v8">
                        <i class="icon-graduation"></i>
                        <div class="service-block-desc">
                            <h3>Learning Management</h3>
                            <p>
                                Cuts through these issues by providing an easy to use, integrated system that allows you to manage, control and view all aspects of learning from a variety of dimensions and perspectives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->
        </div>
    </div>
</div>
<!--=== End Service Block ===-->
@section PageScripts {
    <script>
        $(function () {
            $('.row').each(function (i, elem) {
                $(elem)
                    .find('.service-block-v8') // Only children of this row
                    .matchHeight(); // Row detection gets confused so disable it
            });
        });
    </script>
}}