/* Add here all your css styles (customizations) */
.background-grey {
    background-color: #f4f4f4 !important;
    width: 100%;
}

@media (min-width: 991px) {
    .navbarPadding { padding-top: 100px; }
}

.smallerText {
    font-size: 15px;
}

.navbarPaddingRight {
    padding-right: 150px;
}