/* Add here all your css styles (customizations) */
.background-grey {
    background-color: #f4f4f4 !important;
    width: 100%;
}

@media (min-width: 991px) {
    .navbarPadding { padding-top: 100px; }
}

.smallerText {
    font-size: 15px;
}

.navbarPaddingRight {
    padding-right: 150px;
}

.h1-custom {
    font-size: 30px !important;
    font-weight: 300 !important;
}

.divCenteredInner {
    display: table-cell;
    vertical-align: middle;
}

.divCenteredOuter {
    display: table;
}

@media(min-width: 991px) and (min-height: 1000px) {
    .vh100 {
        height: 100vh
    }
}

@media(min-width: 991px) and (min-height: 1000px) {
    .vh70 {
        height: 70vh
    }
}

@media(min-width: 991px) and (min-height: 1000px) {
    .vh30 {
        height: 30vh
    }
}

@media(min-width: 991px) and (min-height: 1000px) {
    .fullHeight {
        height: 100%;
    }
}