/* Add here all your css styles (customizations) */
.background-grey {
    background-color: #f4f4f4 !important;
    width: 100%;
}

@media (min-width: 991px) {
    .navbarPadding { padding-top: 100px; }
}

.smallerText {
    font-size: 15px;
}

.navbarPaddingRight {
    padding-right: 150px;
}

.h1-custom {
    font-size: 30px !important;
    font-weight: 300 !important;
}

.divCenteredInner {
    display: table-cell;
    vertical-align: middle;
}

.divCenteredOuter {
    display: table;
    width: 100%
}

@media(max-width: 991px), (max-height: 750px) {
    .interactive-slider-v2-md {
        padding: 100px 0;
    }
}

@media(min-width: 991px) and (min-height: 700px) {
    .vh100 {
        height: 100vh
    }
}

@media(min-width: 991px) and (min-height: 700px) {
    .vh70 {
        height: 70vh
    }
}

@media(min-width: 991px) and (min-height: 700px) {
    .vh40 {
        height: 40vh;
        padding-top: 15%;
        padding-bottom: 15%
    }
}

@media(min-width: 991px) and (min-height: 700px) {
    .vh30 {
        height: 30vh
    }
}

@media(min-width: 991px) and (min-height: 700px) {
    .fullHeight {
        height: 100%;
    }
}

.h2Headder {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}

.pHeadder {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    font-family: "Open Sans", Arial, sans-serif;
}

.halfSize {
    height: 50%;
    width: 50%;
}

@media (min-width: 768px) {
    p, li, ul { font-size: 120%; }
}